.bg-color1 {
	background-image: linear-gradient(to right top, #0081b3, #0093bd, #00a5c4, #00b6c8, #1bc7c8);
}

.bg-color2 {
	background-image: linear-gradient(to right top, #a01082, #b2017c, #c30074, #d2006c, #df0362);
}

.bg-color3 {
	background-image: linear-gradient(to right top, #570084, #610086, #6b0189, #75028b, #7e048d);
}

.bg-rain {
	background: url('/public/img/bg/pattern.png') repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top-menu-fix.menu {
	padding: 1em !important;
}