{{set . "title" "Poster une annonce"}}
{{set . "page" "newjob-8aa1a140"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_addjob.css"}}
{{append . "moreScripts" "_addjob.js"}}
{{append . "moreScripts" "_skills.js"}}

<!-- trix -->
{{append . "moreStyles" "../front-modules/trix/dist/trix.css"}}
{{append . "moreScripts" "../front-modules/trix/dist/trix.js"}}

{{template "header.html" .}}

{{if eq .pageData.Step 1}}newjob-s1-8aa1a140
{{else if eq .pageData.Step 2}}newjob-s2-8aa1a140
{{else if eq .pageData.Step 3}}newjob-s3-8aa1a140{{end}}

<div class="ui basic segment bg-dark-blue">
	<br><br>
	<br><br><br>
	<h1 class="ui header center aligned inverted">Déposer son annonce d'emploi nomade</h1>
	<br><br>
	<br>
</div>
<br>
<div class="ui container">
	<div class="ui top massive attached tabular menu ">
		<div class='{{if eq .pageData.Step 1}} active {{end}} item' data-tab="one"><a
				class="ui {{if eq .pageData.Step 1}} green {{else}} grey {{end}} circular label">1</a>
			&nbsp;&nbsp;&nbsp;&nbsp;Post a job&nbsp;&nbsp;
		</div>
		<div class="{{if eq .pageData.Step 2}} active {{end}} center item inverted bold" data-tab="two"><a
				class="ui {{if eq .pageData.Step 2}} green {{else}} grey {{end}} circular label">2</a>
			&nbsp;&nbsp;&nbsp;&nbsp;Preview your ad&nbsp;&nbsp;
		</div>
		<div class="{{if eq .pageData.Step 3}} active {{end}} item inverted bold" data-tab="three"><a
				class="ui {{if eq .pageData.Step 3}} green {{else}} grey {{end}} circular label">3</a>
			&nbsp;&nbsp;&nbsp;&nbsp;Purchase&nbsp;&nbsp;
		</div>
	</div>
	<!-- step 1 -->
	<div class="ui bottom attached {{if eq .pageData.Step 1}} active {{end}} tab segment">
		<form action="/handlenewjob" onsubmit="return onJobAddSubmit(this)" id="form-add-job"
			class="ui huge equal width form add-job-form" method="POST">
			<h2 class="ui header center aligned green">L'emploi</h2>
			<br>
			{{with $field := field "newJob.Position" .}}
			<div class="required field">
				<label>Position</label>
				<input type="text" id="{{$field.ID}}" name="{{$field.Name}}"
					value="super test pour ajout job{{if $.pageData.NewJob}}{{$.pageData.NewJob.Position}}{{else}}{{$field.Flash}}{{end}}"
					placeholder="Web developer">
				<span class="ui text small grey">Example: “Senior Designer”. Titles must describe one
					position.</span>
			</div>
			{{end}}
			<br>
			<div class="fields">
				{{with $field := field "newJob.Contrat" .}}
				<div class="field">
					<label>Contrat</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}"
							value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Contrat}}{{else}}{{$field.Flash}}{{end}}"
							name="{{$field.Name}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item" data-value=1>CDI</div>
							<div class="item" data-value=2>CDD</div>
							<div class="item" data-value=3>Freelance</div>
							<div class="item" data-value=4>Stage</div>
							<div class="item" data-value=5>Interim</div>
							<div class="item" data-value=6>Contrat Pro</div>
							<div class="item" data-value=7>Apprentissage</div>
							<div class="item" data-value=0>Autre / Non spécifié</div>
						</div>
					</div>
				</div>
				{{end}}
				{{with $field := field "newJob.Worktime" .}}
				<div class="field">
					<label>Type d'emploi</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}"
							value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Worktime}}{{else}}{{$field.Flash}}{{end}}"
							name="{{$field.Name}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item" data-value=1>Temps plein</div>
							<div class="item" data-value=2>Temps partiel</div>
							<div class="item" data-value=0>Autre / Non spécifié</div>
						</div>
					</div>
				</div>
				{{end}}
			</div>
			<br>
			<div class="fields">
				<!-- regions -->
				{{with $field := field "newJob.Regionals" .}}
				<div class="required field">
					<label>Régions</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" name="{{$field.Name}}"
							value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Regionals}}{{else if $field.Flash}}{{$field.Flash}}{{else}}2{{end}}"
							type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item" data-value=1>Partout dans le monde</div>
							<div class="item" data-value=2>France uniquement</div>
							<div class="item" data-value=3>Europe uniquement</div>
							<div class="item" data-value=0>Autres (non spécifié)</div>
						</div>
					</div>
				</div>
				{{end}}
				{{with $field := field "newJob.FullRemote" .}}
				<div class="field">
					<div class="ui checkbox">
						<!-- tpl glitch -->
						{{if $.pageData.NewJob }}
						{{if $.pageData.NewJob.FullRemote}}
						<input checked type="checkbox" value=1 id="{{$field.ID}}" name="{{$field.Name}}">
						{{end}}
						{{else if eq $field.Flash "1"}}
						<input checked type="checkbox" value=1 id="{{$field.ID}}" name="{{$field.Name}}">
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
			<br>
			{{with $field := field "newJob.Description" .}}
			<div class="required field">
				<label>Description</label>
				<input id="{{$field.ID}}" required="required" type="hidden" name="{{$field.Name}}"
					value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Description}}{{else if $field.Flash}}{{$field.Flash}}{{else}}DEFAULT __ Ready and able to lead our UX/UI activities, and act as the senior stakeholder for this area; you may have been a lead already or you may be a senior UX/UI designer who wants to step-up into a lead role{{end}}">
				<trix-editor placeholder="" input="{{$field.ID}}" style="min-height:221px" contenteditable="true"
					role="textbox">
				</trix-editor>
			</div>
			{{end}}
			<br>
			<h2 class="ui header center aligned green">Le candidat</h2>
			<br>
			<div class="field">
				<label>#Tags (5 max.)</label>
				<div id="job-tag-handler">
					<!-- start empty -->
				</div>
				<!-- TAGS -->
				{{if ne (len (index .flash "newJob.Tagstr")) 0}}
				<script>
					let tags = JSON.parse('{{ index .flash "newJob.Tagstr"}}')
					for (let i = 0; i < tags.length; i++) {
						addTag(tags[i].id, tags[i].label)
					}
				</script>
				{{else}}
				{{if $.pageData.NewJob}}
				{{range $.pageData.NewJob.Tags}}
				<script>
					addTag("{{.ID}}", "{{.Label}}")
				</script>
				{{end}}
				{{end}}
				{{end}}
				<div id="skill-search" class="ui search">
					<div class="ui right labeled left icon input">
						<i class="tags search icon"></i>
						<input id="skill-search-input" type="text" autocomplete="off" class="prompt"
							placeholder="Web, Marketing, C++ ...">
						<a id="skill-force-add-btn" nohref class="ui tag label">Add Tag</a>
					</div>
				</div>
				{{with $field := field "newJob.Tagstr" .}}
				<input type="text" value="{{$field.Flash}}" name="{{$field.Name}}" id="{{$field.ID}}" hidden>
				{{end}}
			</div>
			<br>
			<div class="fields">
				{{with $field := field "newJob.Experience" .}}
				<div class="required field">
					<label>Experience</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" name="{{$field.Name}}" type="hidden"
							value="2{{if $.pageData.NewJob}}{{$.pageData.NewJob.Experience}}{{else}}{{$field.Flash}}{{end}}">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item" data-value=1>Junior</div>
							<div class="item" data-value=2>Intermediate</div>
							<div class="item" data-value=3>Senior</div>
						</div>
					</div>
				</div>
				{{end}}
				<br>
				{{with $field := field "newJob.Salary" .}}
				<div class="field">
					<label>Salary</label>
					<div class="ui right labeled input">
						<input type="number" id="{{$field.ID}}"
							value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Salary}}{{else}}{{$field.Flash}}{{end}}"
							name="{{$field.Name}}" max="100000" step="1000" value="{{$field.Flash}}" placeholder="xxxxx € / an">
						<div class="ui label">
							€/an
						</div>
					</div>
				</div>
				{{end}}
			</div>
			<br>
			<h2 class="ui header center aligned green">La candidature</h2>
			<br>
			{{with $field := field "newJob.URLMailApply" .}}
			<div class="fields" id="{{$field.ID}}_container">
				<div class="required field">
					<label>Mail ou lien pour postuler</label>
					<input type="text" name="{{$field.Name}}" id="{{$field.ID}}"
						value="shgz@gmx.com{{if $.pageData.NewJob}}{{$.pageData.NewJob.URLMailApply}}{{else if $field.Flash}}}{{$field.Flash}}{{end}}">
					<span class="ui text small grey">Link to Application page or Email address</span>
				</div>
			</div>
			{{end}}
			{{with $field := field "newJob.Step" .}}
			<input type="number" id="{{$field.ID}}" value=2 name="{{$field.Name}}" hidden>
			{{end}}
			{{if .errors}}
			<div class="ui error message">
				<div class="ui list">
					{{range .errors}}
					<div class="item">{{.}}</div>
					{{end}}
				</div>
			</div>
			{{end}}
			<div class="ui error message"></div>
			<div class="full-width" style="display: inline-block">
				<button class="ui large right floated green submit button">Continuer à l'étape suivante <i
						class="circular arrow right inverted icon"></i></button>
			</div>
		</form>
	</div>
	<!-- step 2 template "templates/job.html"-->
	<div class="ui bottom attached {{if eq .pageData.Step 2}} active {{end}} tab segment">

	</div>
	<!-- step 3 -->
	<div class="ui bottom attached {{if eq .pageData.Step 3}} active {{end}} tab segment">
		validation
		<div class="full-width" style="display: inline-block">
			<form action="/handlejobvalidation" method="POST">
				{{with $field := field "newJob.Step" .}}
				<input type="number" id="{{$field.ID}}" value=4 name="{{$field.Name}}">
				{{end}}
				<button class="ui large right floated green submit button">Terminé<i
						class="circular arrow right inverted icon"></i></button>
			</form>
			<form action="/handlenewjob" method="POST">
				{{with $field := field "newJob.Step" .}}
				<input type="number" id="{{$field.ID}}" value=2 name="{{$field.Name}}">
				{{end}}
				<button class="ui large left floated green submit button">Retourner à l'étape précédente<i
						class="circular arrow left inverted icon"></i></button>
			</form>
		</div>
	</div>
	<br>
</div>
{{template "footer.html" .}}



<!-- 

		<div class="ui divider"></div>
		<hr>
		.pagedata.Job
		.flash.NewJob_Step
		</hr>
		<div class="ui divider"></div>
		<div class="full-width" style="display: inline-block">
			<form action="/handlenewjob" method="POST">
				{with $field := field "newJob.Step" .}
				<input type="number" id="{$field.ID}" value=3 name="{$field.Name}">
				end}
				<button class="ui large right floated green submit button">Continuer à l'étape suivante <i
						class="circular arrow right inverted icon"></i></button>
			</form>
			<form action="/handlenewjob" method="POST">
				{with $field := field "newJob.Step" .}
				<input type="number" id="{$field.ID}" value=1 name="{$field.Name}">
				{end}
				<button class="ui large left floated green submit button">Retourner à l'étape précédente<i
						class="circular arrow left inverted icon"></i></button>
			</form>
		</div>

 -->