<h1 class="ui center aligned header">Basic Info
	<div class="sub header">
		Boost your visibility and find the dream job&nbsp;&nbsp;<a href="/user/{{.user.ID}}" class="ui button basic">Voir le
			profile</a>
		<br>
		{{if gt .user.ProfileCompletness 50}}
		{{if eq .user.UserType 2}}
		<a href="/company/{{.user.ID}}" class="ui button basic">Voir le profile</a>
		{{end}}
		{{else}}
		<div class="ui message">
			<p>Compléter davantage votre profil pour être vu par les employeurs 🧑‍🚀</p>
		</div>
		{{end}}
	</div>
</h1>

<form class="ui form" action="/postcandidateprofile" enctype="multipart/form-data" method="POST">

	{{with $field := field "candidateProfile.Avatar" .}}
	<div class="container">
		<div class="avatar-upload">
			<div class="avatar-edit">
				<input type='file' id="{{$field.ID}}" name="{{$field.Name}}" accept="image/png, image/jpeg" />
				<label for="{{$field.ID}}"></label>
			</div>
			<div class="avatar-preview">
				<div id="avatar-preview" style="background-image: url('/public/img/avatars/{{$.pageData.User.Avatar}}');">
				</div>
			</div>
		</div>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.Prenom" .}}
	<div class="field">
		<label>Prenom</label>
		<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" name="{{$field.Name}}"
			value="{{$field.Value}}">
	</div>
	{{end}}

	{{with $field := field "candidateProfile.Nom" .}}
	<div class="field">
		<label>Nom</label>
		<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" name="{{$field.Name}}"
			value="{{$field.Value}}">
	</div>
	{{end}}


	{{with $field := field "candidateProfile.Description" .}}
	<div class="required field {{if $field.Error}}error{{end}}">
		<label>Description</label>
		<input id="{{$field.ID}}" required="required" type="hidden" name="{{$field.Name}}"
			value="{{if $field.Value}}{{$field.Value}}{{else if $field.Flash}}{{$field.Flash}}{{end}}">
		<trix-editor placeholder="" input="{{$field.ID}}" style="min-height:221px" contenteditable="true" role="textbox">
		</trix-editor>
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.Disponibility" .}}
	<div class="inline field">
		<label>Mes disponibilités (Choose one or more)</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=1
				{{if eq (checkTimeID $.pageData.CandidateProfile.SearchJobTime 1) true}} checked {{end}}>
			<label>Temps plein</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=2
				{{if eq (checkTimeID $.pageData.CandidateProfile.SearchJobTime 2) true}} checked {{end}}>
			<label>Temps partiel</label>
		</div>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.SearchContrat" .}}
	<div class="inline field">
		<label>Contrat(s) recherché(s)</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=1
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 1) true}} checked {{end}}>
			<label>CDI</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=2
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 2) true}} checked {{end}}>
			<label>CDD</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=3
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 3) true}} checked {{end}}>
			<label>Freelance</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=4
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 4) true}} checked {{end}}>
			<label>Stage</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=5
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 5) true}} checked {{end}}>
			<label>Interim</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=6
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 6) true}} checked {{end}}>
			<label>Contrat Pro</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=7
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 7) true}} checked {{end}}>
			<label>Apprentissage</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=8
				{{if eq (checkContratID $.pageData.CandidateProfile.SearchContrat 8) true}} checked {{end}}>
			<label>Autre</label>
		</div>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.SearchXp" .}}
	<div class="inline field">
		<label>Mon Expérience</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=1
				{{if eq (checkExpID $.pageData.CandidateProfile.SearchXp 1) true}} checked {{end}}>
			<label>&lt; 2 ans (junior)</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=2
				{{if eq (checkExpID $.pageData.CandidateProfile.SearchXp 2) true}} checked {{end}}>
			<label>&gt; 2 &lt; 5 (intermediate)</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=3
				{{if eq (checkExpID $.pageData.CandidateProfile.SearchXp 3) true}} checked {{end}}>
			<label>&gt; 5 (senior)</label>
		</div>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.Langages" .}}
	<div class="inline field">
		<label>Langue(s) parlé(s)</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=1
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 1) true}} checked {{end}}>
			<label>English</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=2
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 2) true}} checked {{end}}>
			<label>Mandarin</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=3
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 3) true}} checked {{end}}>
			<label>Spanish</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=4
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 4) true}} checked {{end}}>
			<label>German</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=5
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 5) true}} checked {{end}}>
			<label>Portuguese</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=6
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 6) true}} checked {{end}}>
			<label>Arabic</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=7
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 7) true}} checked {{end}}>
			<label>Japanese</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=8
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 8) true}} checked {{end}}>
			<label>Russian</label>
		</div>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" name="{{$field.Name}}" value=9
				{{if eq (checkLangageID $.pageData.CandidateProfile.Langages 9) true}} checked {{end}}>
			<label>Hindi</label>
		</div>
	</div>
	{{end}}
	{{with $field := field "candidateProfile.LangagesOther" .}}
	<div class="inline field">
		<label>Autre language (précisez)</label>
		<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" name="{{$field.Name}}"
			value="{{$field.Value}}">
	</div>
	{{end}}

	<!-- TAGS -->
	{{with $field := field "candidateProfile.Tags" .}}
	<input type="text" name="{{$field.Name}}" id="{{$field.ID}}" value="{{tagToJson $.pageData.CandidateProfile.Tags}}"
		hidden>
	{{end}}
	<div class=" field">
		<div id="job-tag-handler">
			<!-- start empty -->
			{{range .pageData.CandidateProfile.Tags}}
			<a data-tagid={{.ID}} nohref onClick="$(this).remove();updateTagstr();"
				class="ui teal tag label">{{.Label}}</a>&nbsp;
			{{end}}
		</div>
		<br>
		<div id="skill-search" class="ui search">
			<div class="ui right labeled left icon input">
				<i class="tags search icon"></i>
				<input id="skill-search-input" type="text" autocomplete="off" class="prompt"
					placeholder="Traduction, HTML, C++ ...">
				<a id="skill-force-add-btn" nohref class="ui tag label">Add Skill</a>
			</div>
		</div>
	</div>

	{{with $field := field "candidateProfile.AvailableForHire" .}}
	<div class="inline field">
		<label>Indique dans les recommendations des employeurs si vous occupez un emploi ou non</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" id="{{$field.ID}}" name="{{$field.Name}}" value=1
				{{if eq $.candidateProfile.AvailableForHire true}}checked{{end}}>
			<label>Disponible à l'emploi</label>
		</div>
	</div>
	{{end}}

	{{with $field := field "candidateProfile.Nomade" .}}
	<div class="inline field">
		<label>Cocher cette case si vous souhaitez travailler uniquement à distance (100% télétravail)</label>
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden" id="{{$field.ID}}" name="{{$field.Name}}" value=1
				{{if eq $.candidateProfile.Nomade true}}checked{{end}}>
			<label>Nomade</label>
		</div>
	</div>
	{{end}}

	<script>
		$("input[id='candidateProfile_Nomade']:checkbox").change(function () {
			if ($(this).is(':checked')) {
				$('#candidate_location_selection').hide();
			} else {
				$('#candidate_location_selection').show();
			}
		});
	</script>

	<div id="candidate_location_selection"
		class="field ui search location-search {{if eq .candidateProfile.Nomade true}} d-invisible {{end}}">
		<label>Votre location de recherche d'emploi</label>
		<div class="ui right action left icon input">
			<i class="map marker alternate search icon" id="location-near-me"></i>
			{{with $field := field "candidateProfile.Location.MainLocation.Label" .}}
			<input type="text" id="searchBox_Location" value="{{$field.Value}}" autocomplete="off" class="prompt"
				placeholder="Ville, département, CP…">
			{{end}}
			{{with $field := field "candidateProfile.SearchLocation.RadiusID" .}}
			<div class="ui basic floating dropdown button">
				<input type="hidden" value="{{$field.Value}}" id="{{$field.ID}}" name="{{$field.Name}}">
				<div class="text">
					{{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 0}}Rayon{{end}}
				</div>
				<i class="dropdown icon"></i>
				<div class="menu transition hidden">
					<div class="item" {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 1}} active selected
						{{end}} data-value="1">5km</div>
					<div class="item" {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 2}} active selected
						{{end}} data-value="2">10km</div>
					<div class="item" {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 3}} active selected
						{{end}} data-value="3">20km</div>
					<div class="item" {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 4}} active selected
						{{end}} data-value="4">40km</div>
				</div>
			</div>
			{{end}}
		</div>
	</div>
	{{with $field := field "candidateProfile.SearchLocation.ID" .}}
	<input type="text" id="searchBox_HiddenLocationID" name="{{$field.Name}}" value="{{$field.Value}}" hidden />
	{{end}}

	<!-- curriculum -->
	<div class="field">
		<label>Curiculum Vitae (téléchargeable uniquement par les employeurs vérifiés)</label>

		{{if ne (len $.pageData.CandidateProfile.CvPath) 0}}
		<span id="cvmanage" {{if eq (len $.pageData.CandidateProfile.CvPath) 0}} style="display: none;" {{end}}>
			<a href="/public/doc/resumes/{{$.pageData.CandidateProfile.CvPath}}" target="_blank" class="ui primary button">
				Télécharger
			</a>
			<a nohref id="deleteCV" class="ui button">
				Supprimer
			</a>
		</span>
		{{end}}

		<div id="cvinput" class="ui action input" {{if ne (len $.pageData.CandidateProfile.CvPath) 0}}
			style="display: none;" {{end}}>
			<input id="cvinputtext" type="text" readonly>
			{{with $field := field "candidateProfile.CV" .}}
			<input type="file" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" accept=".pdf" style="display:
					none!important;" />
			{{end}}
			<div class="ui icon button">
				<i class="cloud upload alternate icon"></i>
			</div>
		</div>
	</div>

	{{with $field := field "candidateProfile.HasDeletedCV" .}}
	<input type="hidden" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" value="false">
	{{end}}


	<div class="two fields">
		<div class="field">
			{{with $field := field "candidateProfile.Website" .}}
			<label>Website</label>
			<div class="ui right icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="globe icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Linkedin" .}}
			<label>Linkedin</label>
			<div class="ui right icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="linkedin icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Twitter" .}}
			<label>Twitter</label>
			<div class="ui right icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="twitter icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Instagram" .}}
			<label>Instagram</label>
			<div class="ui right icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="instagram icon"></i>
			</div>
			{{end}}

			{{with $field := field "candidateProfile.Discord" .}}
			<label>Discord</label>
			<div class="ui right icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="@"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="discord icon"></i>
			</div>
			{{end}}
		</div>
		<div class="field">
			{{with $field := field "candidateProfile.Mobile" .}}
			<label>Mobile</label>
			<div class="ui left icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="+33"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="phone alternate icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Skype" .}}
			<label>Skype</label>
			<div class="ui left icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="@"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="skype icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Github" .}}
			<label>Github</label>
			<div class="ui left icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="github alternate icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Gitlab" .}}
			<label>Gitlab</label>
			<div class="ui left icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="gitlab icon"></i>
			</div>
			{{end}}
			{{with $field := field "candidateProfile.Whatsapp" .}}
			<label>Whatsapp</label>
			<div class="ui left icon input">
				<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" placeholder="https://"
					name="{{$field.Name}}" value="{{$field.Value}}">
				<i class="whatsapp icon"></i>
			</div>
			{{end}}
		</div>
	</div>
	<div class="ui divider hidden"></div>
	<div class="full-width" style="display: inline-block">
		<button type="submit" class="ui large right floated  bg-dark-green light-green submit button">Mettre a jour le
			profile</button>
	</div>

</form>


<!-- {{with $field := field "candidateProfile.TagStr" .}}
	<div class="field ui search skill-search">
		<label>Tags</label>
		<input type="text" class="ui input" autocapitalize="on" value="{{$field.Value}}" autocomplete="off" class="prompt">
	</div>
	{{end}}
	{{with $field := field "candidateProfileTags" .}}
	<input type="text" id="searchBox_HiddenSkillID" name="{{$field.Name}}" value="{{$field.Value}}" hidden />
	{{end}} -->

<!-- TAGS
	{{with $field := field "candidateProfileTags" .}}
	<input type="text" id="candidateProfile_HiddenJsonTags" name="{{$field.Name}}" value="{{$field.Value}}"
		style="border:2px solid red" />
	{{end}}

	{{with $field := field "candidateProfile.TagStr" .}}
	<div class="form-group">
		<div class="col-3 col-sm-12">
			<label class="form-label" for="{{$field.ID}}"> Compétances (10 maximum) :</label>
		</div>
		<div class="col-9 col-sm-12">
			<table id="CandidateTags_table">
				<tbody></tbody>
			</table>
			<div id="tag-peek-box"></div>
			<br>
			<a class="btn btn-primary" id="candidateProfileTags_Add">+ Ajouter</a>
			<div class="info">Cette liste de compétances sera visible par les employeurs visitant votre profile</div>
			{{if $field.Error}}
			<div class="alert">{{$field.Error}}</div>{{end}}
		</div>
	</div>
	{{end}}-->

<!-- <script src="/public/js/_tags.js"></script>
	<script>
		var searchTagHandler = JSON.parse('{{.candidateProfileTags}}');
		InitTag();
	</script> -->

<!-- {{with $field := field "candidateProfile.Location.Label" .}}
	<div class="field ui search location-search {{if eq $.candidateProfile.Nomade true}} d-invisible {{end}}">
		<div class="ui right action left icon input">
			<i class="map marker alternate search icon" id="location-near-me"></i>
			<input type="text" id="searchBox_Location" autocapitalize="on" value="{{$field.Value}}" autocomplete="off"
				class="prompt" placeholder="Ville, département, CP…">
		</div>
	</div>
	{{end}} -->


<!-- <div style="display: none" id="candidate_location_selection">
		<div class="form-group">
			<div class="col-3 col-sm-12">
				{{with $field := field "candidateProfile.Location" .}}
				<label class="form-label" for="{{$field.ID}}"> Localisation de l'emploi :</label>
				{{end}}
			</div>
			<div class="col-9 col-sm-12">
				{{with $field := field "candidateProfile.Location" .}}
				<div id="location-selector">

					<div class="has-icon-right">
						<input id="candidateProfile_Location" class="location-input-all {{$field.ErrorClass}}" type="text"
							value="{{$field.Flash}}" placeholder="Ville, département, code postal" onkeyup="" autocomplete="off">
						<i class="icon icon-location location-near-me"></i>
					</div>

					<div class="location-suggestion"></div>

				</div>
				{{if $field.Error}}<div class="alert">{{$field.Error}}</div>{{end}}
				{{end}}
				<div id="locationRadiusContainer" class="form-group">
					{{with $field := field "candidateProfile.Location.SearchRadiusLocationID" .}}
					<select id="{{$field.ID}}" class="form-select {{$field.ErrorClass}}" name="{{$field.Name}}">
						<option value=0 {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 0 }} selected {{end}}>
							--Please choose an option--</option>
						<option value=1 {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 1 }} selected {{end}}>
							5km</option>
						<option value=2 {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 2 }} selected {{end}}>
							10km</option>
						<option value=3 {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 3 }} selected {{end}}>
							20km</option>
						<option value=4 {{if eq $.pageData.CandidateProfile.Location.MainLocation.RadiusID 4 }} selected {{end}}>
							40km
						</option>
					</select>
					{{end}}
				</div>
				<span class="info">Laissez vide pour rechercher dans toute la France et les DOM.</span>
			</div>
		</div>
	</div> -->

<!-- <script src="/public/js/_locationCandidateProfile.js"></script>
	<script>
		var searchLocationHandler = JSON.parse('{{.candidateProfileLocation}}');
		InitLocation();
	</script> -->