.capitalize:first-letter {
 text-transform: capitalize;
}

.capitalize-all {
 text-transform: capitalize;
}

@media screen and (min-width: 800px) { 


}



#main-navbar {
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 42px;
	padding-right: 42px;
}

.navbar a {
	margin-left: 30px;
}

.centering-sm-wrapper {
	width: 34%;
	margin: 0 auto;
	text-align: center;
}

.centering-med-wrapper {
	width: 64%;
	margin: 0 auto;
	text-align: center;
}

.centering-lg-wrapper {
	width: 74%;
	margin: 0 auto;
	text-align: center;
}


.centering-wrapper {
	margin: 0 auto;
	text-align: center;
}


/* 
.hero {
	margin-top: -177px;
} */


#copyright {
	padding: 21px;
}

/* .navbar a:visited {
	color: #D8D8D8;
} */

.main-wrapper {
	width: 85%;
	margin: 0px auto;
}

.strong {
font-weight: bolder;
}

/* index */
.big-icon {
	width: 4rem;
}

.bg-hero-cd {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/public/img/bg/hero-pic.jpg');
}
.bg-hero-em {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/public/img/bg/homework2.jpg');
}
.bg-hero-pattern {
 background-image: url('/public/img/bg/pattern.jpg');/* Background pattern from Toptal Subtle Patterns */
}

.bg-hero {
    background-size: cover;
	    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
		background-attachment: fixed;
		    width: 100vw;
		height: 90vh;
		min-height: 200px;
}

.dark-content {
	background-color: #1F082E;
}

.bg-light {
	background-color: #F8F8F8;
}

.bg-color1{
 background-image: linear-gradient(to right top, #0081b3, #0093bd, #00a5c4, #00b6c8, #1bc7c8);
}

.bg-color2{
background-image: linear-gradient(to right top, #a01082, #b2017c, #c30074, #d2006c, #df0362);
}

.bg-color3 {
	background-image: linear-gradient(to right top, #570084, #610086, #6b0189, #75028b, #7e048d);
}

.bg-color4 {
	background-color: #417184;
}

.section-overlap {
	margin-top: -15%;
	border-top: 7px solid #0093bd;
	background-color: white;
padding: 3rem .5rem  3rem .5rem;
}

.section-features {
padding: 1.1rem .5rem 10rem .5rem;
}

.section-updates {
padding: 4.5rem .5rem 2.5rem .5rem;
}

.card.dark-content {
	border : 0px solid transparent;
}

#color-divider {
height: 7px;
    background-color: #0EBEF2;
    background-image: -webkit-linear-gradient(-360deg,#0EBEF2,#DE0E5E);
    background-image: linear-gradient(90deg,#0EBEF2,#DE0E5E);
}
.small-color-divider-c1 {
	border-top: 2px solid #1bc7c8;
}
.small-color-divider-c2 {
	border-top: 2px solid #7e048d;
}
.small-color-divider-c3 {
	border-top: 2px solid #df0362;
}

.nav-overlap {
	margin-top: -82px;
}

.text-center {
	text-align: center;
}

.hero-body {
		line-height: 1.2;
}

.hero-body h2 {
font-size: 3em;
}
.hero-body a {
font-size: 2em;
}
.hero-body .big-btn {
    /* Positioning and sizing */
    display: block;
    max-width: max-content;
    
    /* Padding and margins */
    padding: 1em;
    
    /* Text styles */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.big-btn-primary {
padding-left: 3rem;
padding-right: 3rem;
height: 77px;
font-size: 1.92rem;
border-radius: 21px;
}


.learn-more-footer {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.7rem;
	color: #fff;
	background: transparent;
border-color: transparent;
padding-top: 20%;
}

#main-navbar .navbar-section .btn-link {
	border-top: 4px solid transparent;
}

/* sm */
@media screen and (min-width: 320px) { 
.hero h1 {
	max-width: 17rem;
	font-size: 2rem;
	line-height: 1.2;
}
.big-btn-primary {
margin: 1rem 0;
}

}
/* med */
@media screen and (min-width: 570px) { 
.hero h1 {
	max-width: 21rem;
	font-size: 2.5rem;
	line-height: 1.2;
	
}

.big-btn-primary {
margin: 0rem 1rem;
}

}
/* desktop */
@media screen and (min-width: 900px) { 
.hero h1 {
	max-width: 32rem;
	font-size: 2.8rem;
	line-height: 1.2;
}

.big-btn-primary {
margin: 0rem 1rem;
}

}



/* jobs */

.max-content {
		width: max-content;
		min-width: max-content;
		max-width: max-content;
}

#locationRadiusContainer.form-select {
	width: 1rem;
	max-width: 90px;
border-left-style: dotted;
border-left-width: 2px;
}

#searchBox_Location {
border-left: 0;
}

#location-suggestion {
position: absolute;
margin-top: 40px;
margin-left: 40px;
}

#location-near-me {
    background: 0;
    color: black;
    border-left: 0;
    border-radius: 0;
}

#jobs-form-filter-submit {
width: 100%;
}


#job-chips-filter, #jobs-filter-subpanel {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.right {
	float:right;
}

.text-dark {
	color: #1F082E;
}

.input-group .input-group-addon {
	background: 0;
}

#query-less {
 border-left: 0;
}

/* job */

.full-width {
	width: 100%;
}

.jobs-container {
		border-top: 1px solid #BABABA;
background: #fff;
box-shadow: 0 3px 5px 0 rgba(0,0,0,.05);
border-top-left-radius: 7px;
border-top-right-radius: 7px;
		padding: 0.40rem 1.4rem;
			 background-color: #FAFAFA;
}

.jobs-container a {
color: initial;
text-decoration: initial;
}

.job-tile-preview {
	border-radius: .1rem;
		margin-top: 5px;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.04);
			
			}

.job-tile-preview .tile .tile-icon {
	padding: 0.2rem 0.5rem;
}

.supperpose-both {
	margin-top: 14px;
		margin-bottom: 11px;
}

.supperpose {
	margin-top: 4px;
}

.supperpose-lg {
	margin-top: 14px;
}

.zoom {
	transition: transform .42s; /* Animation */

}

.zoom:hover {

box-shadow: 0 .05rem .2rem rgba(31, 8, 46, .3);
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 background-color: #F2F2F2;
}

/* companies */

#companies-board {
	max-width: 777px;
	margin: 0 auto;
}

#companies-board tbody .td-tag-container {
max-width: 333px;
}

#companies-board tbody .td-tag-container .label {
	margin-top: 0.1rem;
}