{{set . "title" "Home"}}
{{set . "page" "index-a7f5a939"}}
{{set . "user" .pageData.User}}
{{append . "moreStyles" "_index.css"}}
{{append . "moreStyles" "_text-flip.css"}}
{{append . "moreScripts" "_text-flip.js"}}
{{template "header.html" .}}

<div id="color-divider"></div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Support the sites you love, avoid the ads you hate</h3>
				<div class="ui divider hidden"></div>
				<p>
					We’ve partnered with some of the world’s greatest publishers to bring you a better journalism
					experience. We
					share your payment directly with the sites you read. They make more money which means they can bring
					you great
					content without needing to distract you with ads just to keep the lights on.</p>
				<div class="ui divider hidden"></div>
				<a href="/recruit" class="large green ui button">
					Learn more about recrutting
				</a>
				<a href="/jobs" class="large blue ui right floated button">
					Tous les emplois
				</a>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/control-hero.png" class="ui massive rounded image">
			</div>
		</div>
	</div>
</div>
<div class="ui vertical stripe secondary segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row " style="width: 70% !important; margin: 0 auto;">
			<div class="six wide column">
				<img src=" /public/img/control-facet.png" class="ui large rounded image">
			</div>
			<div class="eight wide floated column">
				<h3 class="ui header">That's not all!</h3>
				<div class="ui divider hidden"></div>
				<p>
					Subscribers also get access to audio versions of articles, bookmarks that are seamlessly synced
					across
					devices, exclusive top recommended reads, and an app that helps you find and finish great
					content,
					all without
					the distraction of advertising.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide floated column" style="padding-right: 4rem;">
				<h3 class="ui header">Top recruteurs</h3>
				<div class="ui divider hidden"></div>
				<div class="ui middle very relaxed aligned divided list">
					{{range $index, $company := .pageData.TopCompanies}}
					<div class="item">
						<div class="middle aligned right floated content">
							<a href="/jobs?c={{$company.PublicID}}" class="ui right tertiary button">
								Voir les emplois
							</a>
						</div>
						<div class="bottom aligned left floated content">
							<i
								class="medal {{if eq $index 0}}yellow {{else if eq $index 1}}grey {{else if eq $index 2}}orange {{end}} large	icon"></i>
						</div>
						<img class="ui avatar image" src="/public/img/avatars/{{$company.Webuser.Avatar}}">
						<div class="middle aligned content">
							<h4 class="ui header capitalize-all">
								{{$company.Name}}
							</h4>
						</div>
					</div>
					{{end}}
				</div>
				<div class="ui divider hidden"></div>
				<a href="/recruit" class="large green ui button">
					Recruter
				</a>
				<a href="/jobs" class="large blue ui right floated button">
					Tous les emplois
				</a>
			</div>
			<div class="six wide column">
				<img src="/public/img/control-facet-2.png" class="ui large rounded image">
			</div>
		</div>
	</div>
</div>
<div class="ui vertical stripe secondary segment ">
	<div class="ui middle aligned stackable grid container">
		<div class="row " style="width: 70% !important; margin: 0 auto;">
			<div class="six wide column">
				<img src="/public/img/control-facet-3.png" class="ui large rounded image">
			</div>
			<div class="eight wide floated column">
				<h3 class="ui header">Finish what you started reading</h3>
				<p>
					When life interrupts your reading, Mozilla helps you automatically pick up where you left off.
					Find
					a
					story on
					your
					laptop and resume from the same spot on your phone. Need to get in the car? Switch to audio on
					the
					go
				</p>
				<button class="huge ui button">
					Learn more about recrutting
				</button>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical stripe inverted blue segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<p>Mozilla is constantly looking for ways to keep our users safer, build better products, and to
					help
					improve
					the health of the web. This commitment to innovation is a core component of our cultural DNA.
				</p>
			</div>
			<div class="six wide column">
				<button class="massive ui button">
					Learn more about recrutting
				</button>
			</div>
		</div>
	</div>
</div>



<!--
<div id="color-divider"></div>
 <div class="ui container segment " style="margin-top: -90px; ">
{{if eq (len .pageData.Jobs) 0}}
<div class="ui placeholder segment" style="max-width: 700px;margin: 49px auto;text-align:center">
	<div class="ui icon header">
		<br>
		<i class="kiwi bird icon"></i>
		<p class="bold">Aucun emploi correspond à vos critères... pour l'instant !</p>
	</div>
	<p>Abonnez vous à cette recherche pour recevoir ces futurs emplois par
		mails.</p>
	<button id="list-mail-sub" class="ui button">S'abonner</button>
	<br>
</div>
{{else}}
<h4 class="center">{{.pageData.TotalItem}} job{{pluralize (.pageData.TotalItem) "" "s"}} found
</h4>
<div class="jobs-container">

{{end}}
</div>


<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Participer à l'aventure digital nomade !&nbsp;🚀</h3>
				<p>We can give your company superpowers to do things that they never thought possible. Let us delight your
					customers and empower your needs...through pure data analytics.</p>
				<h3 class="ui header">We Make Bananas That Can Dance</h3>
				<p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/index/three-persons-sitting-on-the-stairs-talking-with-each-other-1438072.jpg"
					class="ui large bordered rounded image">
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<a class="ui huge button">Créer un compte candidat</a>
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Complete your profile and get instant remote jobs from all over the web</h3>
				<p>We can give your company superpowers to do things that they never thought possible. Let us delight your
					customers and empower your needs...through pure data analytics.</p>
				<h3 class="ui header">Get an epured list with multiple filtering</h3>
				<p>We can give your company superpowers to do things that they never thought possible. Let us delight your
					customers and empower your needs...through pure data analytics.</p>
				<h3 class="ui header">Multiple support (rss, mail, twitter more coming)</h3>
				<p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/index/working-in-front-of-the-computer-3184355.jpg"
					class="ui large bordered rounded image">
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Apply in no time !</h3>
				<p>We can give your company superpowers to do things that they never thought possible. Let us delight your
					customers and empower your needs...through pure data analytics.</p>
				<h3 class="ui header">No ads now and never</h3>
				<p>We dislikes ads as you are.</p>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/index/photography-of-a-person-pointing-on-something-684387.jpg"
					class="ui large bordered rounded image">
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<a class="ui huge button">Créer un compte candidat</a>
			</div>
		</div>
	</div>
</div>
 -->

<!-- 
<div class="ui container ">
	<div class="ui vertical stripe segment container ">
		<h3 class="ui center aligned header">Participer à l'aventure digital nomade !&nbsp;🚀</h3>
		<div class="ui four cards">
			<div class="card red">
				<div class="image">
					<img src="/public/img/icons/icon-connect.svg">
				</div>
				<div class="extra center aligned">
					<div class="content">
						<h3 class="header">Subscribe</h3>
						<div class="description">
							<p>It is a long established fact that a reader will be distracted by the
								readable content of a page when looking at its layout.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card green">
				<div class="image">
					<img src="/public/img/icons/icon-ok.svg">
				</div>
				<div class="extra center aligned">
					<div class="content">
						<h3 class="header">Complete your profile</h3>
						<div class="description">
							<p>
							<h3>Collect remote jobs from all over the web</h3>
							<h3>get an epured list with multiple filtering</h3>
							<h3>multiple support (rss, mail, twitter more coming)</h3>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card violet">
				<div class="image">
					<img src="/public/img/icons/icon-briefcase.svg">
				</div>
				<div class="extra center aligned">
					<div class="content">
						<h3 class="header">Get new remote job</h3>
						<div class="description">
							<p>The point of using Lorem Ipsum is that it has a more-or-less normal
								distribution of letters, as opposed to using 'Content here, content here', making it look like
								readable English.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card grey">
				<div class="image">
					<img src="/public/img/icons/icon-briefcase.svg">
				</div>
				<div class="extra center aligned">
					<div class="content">
						<h3 class="header">Apply in no time !</h3>
						<div class="description">
							<p>Many desktop publishing packages and web page editors now use Lorem
								Ipsum as their default model text, and a search for
								'lorem ipsum' will uncover many web sites still in their infancy.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card grey">
				<div class="image">
					<img src="/public/img/icons/icon-briefcase.svg">
				</div>
				<div class="extra center aligned">
					<div class="content">
						<h3 class="header">No ads now and never</h3>
						<div class="description">
							<p>We dislikes ads as you are.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


{{template "footer.html" .}}