<div class="ui modal">
	<div class="header">Header</div>
	<div class="content">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>


<form class="form-horizontal" action="/handlenewapplication" enctype="multipart/form-data" method="POST">
	<div class="modal" id="job-apply-modal">
		<a href="#close" onclick="closeModal('job-apply-modal'); return false;" class="modal-overlay"
			aria-label="Close"></a>
		<div class="modal-container">
			<div class="modal-header">
				<a href="#close" class="btn btn-clear float-right" aria-label="Close"
					onclick="closeModal('job-apply-modal'); return false;"></a>
				<div class="modal-title h5">Modal title</div>
			</div>
			<div class="modal-body">
				<div class="content">
					<!-- Connected apply -->
					{{if and (eq .pageData.User.Connected true) (eq .user.UserType 1)}}
					<div id="application-connected-panel">
						<div class="toast toast-warning">
							<button class="btn btn-clear float-right"></button>
							Votre profile est completé à 77%
							<button class="btn btn-link">Voir mon profile</button>
						</div>
						<fieldset>
							<input type="text" name="application.JobPublicID" value="{{.pageData.Job.PublicID}}" hidden>
							{{with $field := field "application.CandidateLettreMotivation" .}}
							<label id="external-description-container" for="{{$field.ID}}">Lettre motivation :
								<textarea style="width: 70%; height: 200px" required="" class="{{$field.ErrorClass}}"
									name="{{$field.Name}}" id="{{$field.Name}}"
									placeholder="">very motivated to earn money{{$field.Flash}}</textarea>
								{{if $field.Error}}
								<div class="alert">{{$field.Error}}</div>{{end}}
							</label>
							{{end}}
						</fieldset>
					</div>
					{{end}}

					<!-- Accountless apply -->
					{{if (eq .pageData.User.Connected false) }}
					<div id="application-nonconnected-panel">
						<div class="panel-header">
							<button class="btn btn-primary">Créer un compte et postuler en un clic !</button><br><br>
							<button class="btn">Déjà membre ? Connecter vous !</button><br><br>
						</div>
						<div class="panel-body">
							<h4>Postuler sans compte</h4>

							{{with $field := field "application.CandidateNom" .}}
							<div class="form-group">
								<div class="col-3 col-sm-12">
									<label class="form-label" for="{{$field.ID}}">Nom *</label>
								</div>
								<div class="col-9 col-sm-12">
									<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="text"
										value="{{$field.Flash}}" placeholder="Nom" required="">
									{{if $field.Error}}<div class="alert">{{$field.Error}}</div>{{end}}
								</div>
							</div>
							{{end}}

							{{with $field := field "application.CandidatePrenom" .}}
							<div class="form-group">
								<div class="col-3 col-sm-12">
									<label class="form-label" for="{{$field.ID}}">Prenom *</label>
								</div>
								<div class="col-9 col-sm-12">
									<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="text"
										value="{{$field.Flash}}" placeholder="Prenom" required="">
									{{if $field.Error}}<div class="alert">{{$field.Error}}</div>{{end}}
								</div>
							</div>
							{{end}}

							{{with $field := field "application.CandidateEmail" .}}
							<div class="form-group">
								<div class="col-3 col-sm-12">
									<label class="form-label" for="{{$field.ID}}">Email *</label>
								</div>
								<div class="col-9 col-sm-12">
									<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="email"
										value="{{$field.Flash}}" placeholder="Email" required="">
									{{if $field.Error}}<div class="alert">{{$field.Error}}</div>{{end}}
								</div>
							</div>
							{{end}}


							{{with $field := field "application.CandidateResume" .}}
							<div class="form-group">
								<div class="col-3">
									<label class="form-label" for="{{$field.ID}}">Curiculum Vitae *</label>
								</div>
								<div class="col-9">
									<input class="form-input" id="{{$field.ID}}" name="{{$field.Name}}"
										accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
										type="file" required="">
									{{if $field.Error}}<div class="alert">{{$field.Error}}</div>{{end}}
								</div>
							</div>
							{{end}}

							{{with $field := field "application.CandidateLettreMotivation" .}}
							<div class="form-group">
								<div class="col-3 col-sm-12">
									<label class="form-label" for="{{$field.ID}}">Lettre de motivation</label>
								</div>
								<div class="col-9 col-sm-12">
									<textarea class="form-input" id="{{$field.ID}}" name="{{$field.Name}}" placeholder="Motivations..."
										value="{{$field.Flash}}" rows="3"></textarea>
								</div>
							</div>
							{{end}}

							<input type="text" name="application.JobPublicID" value="{{.pageData.Job.PublicID}}" hidden>

							<div class="form-group">
								<div class="col-9 col-sm-12 col-ml-auto">
									<label class="form-switch">
										<input type="checkbox"><i class="form-icon"></i> Send me emails with similar job
									</label>
									<label class="form-switch">
										<input type="checkbox" required=""><i class="form-icon"></i>CGU *
									</label>
								</div>
							</div>
						</div>
					</div>
					{{end}}

				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Postuler</button>
			</div>
		</div>
	</div>
</form>