<div class="main-list-preview job-item item {{if .Featured}}featured-job{{end}}">
	<div class="ui tiny image" style="padding-left: 1.5em;">
		<img src="/public/img/avatars/{{.Company.Webuser.Avatar}}" alt="{{.Company.Name}} logo" style="max-width: 60px !important;background-color:#ffffff;padding:4px;">
	</div>
	<div class="middle aligned content main-section-preview-job">
		<a class="header" href="/{{if .IsAggregate}}ajob{{else}}job{{end}}/{{.PublicID}}">{{if .IsAggregate}}<i class="linkify icon"></i>{{end}}{{.job.Position}}</a>
		<div class="meta">
			<span class="capitalize-all">{{.Company.Name}}</span>
		</div>
		<div class="meta">
			<div class="ui horizontal list">
				{{if .FullRemote}}
				<div class="item">
					<span class="ui grey basic label">
						<i class="icon shuttle van"></i> 100% télétravail
					</span>
				</div>
				{{else}}
				{{if ne .Company.Location.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon map marker alternate"></i> {{.Company.Location.Label}}
					</span>
				</div>
				{{end}}
				{{end}}
				{{if ne .Contrat.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon file alternate outline"></i> {{.Contrat.Label}}
					</span>
				</div>
				{{end}}
				{{if ne .Regional.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						{{if eq .Regional.ID 2}}<i class="france flag"></i>{{else if eq .Regional.ID 3}}<i class="eu flag"></i>{{else}}<i class="blue globe americas icon"></i>{{end}}&nbsp;{{.Regional.Label}}
					</span>
				</div>
				{{end}}
				<br>
				{{range .Tags}}
				<div class="item" style="z-index:1000" onclick="window.location='/jobs'" style="cursor: pointer;" tabindex="1">
					<a href="/jobs?tag={{.ID}}" class="ui teal basic label large capitalize" data-position="top center" data-tooltip="Voir les jobs #{{.Label}}">
						<span class="text">{{.Label}}</span></a>
				</div>
				{{end}}

			</div>
		</div>
	</div>
	<div class="middle aligned content center-fom-item uppercase-all">
		{{.WorkTime.Label}}
	</div>
	<div class="middle aligned content center-fom-item">
		{{.SinceStr}}
	</div>
</div>
<!-- {textPreview ( htmlToText .Description ) 300} -->