{{set . "title" "Log In"}}
{{set . "page" "login-e5097dab"}}
{{set . "errorcode" "login-error-e5097dab"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_login.css"}}
{{template "header.html" .}}
<div class="ui hidden divider"></div>
<div class="ui container">
	<div class="ui vertical stripe segment container" style="max-width:540px;">
		<div class="column">

		</div>
	</div>
</div>