{{set . "title" "Hire"}}
{{set . "page" "recruit-d8959382"}}
{{set . "user" .pageData.User}}
{{append . "moreStyles" "_recruit.css"}}
{{append . "moreStyles" "_text-flip.css"}}
{{append . "moreScripts" "_text-flip.js"}}
{{template "header.html" .}}


<div class="wave dark-blue">
	<div>
		<svg preserveAspectRatio="xMidYMax meet" class="svg-separator sep" viewBox="0 0 1600 100" data-height="100">
			<path class="" style="opacity: 1;fill: #3243c8;" d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z">
			</path>
			<path class="" style="opacity: 1;fill: #433ee4;" d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z">
			</path>
			<path class="" style="fill: #fff;" d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z">
			</path>
		</svg>
	</div>
</div>

<div class="ui container">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Recruter en toute confiance sur tout le territoire</h3>
				<p>Vos coordonées securisé</p>
				<h3 class="ui header">AI matches you with qualified pros</h3>
				<p>Instantany see people that match your job && Connect with multiples candidate</p>
			</div>
			<div class="six wide right floated column">
				<img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<a class="ui huge button">Check Them Out</a>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical stripe segment">
	<div class="ui text container">
		<h3 class="ui header">Simple to use and completly FREE ❤️</h3>
		<p>Dashboard will keep you on the go and will uncover many web sites still in their infancy..</p>
		<a class="ui large button">Read More</a>
		<h4 class="ui horizontal header divider">
			<a href="#">Case Studies</a>
		</h4>
		<h3 class="ui header">Tell us what you’re looking for</h3>
		<p>Post a job in minutes</p>
		<a class="ui large button">I'm Still Quite Interested</a>
	</div>
</div>



<!-- et recrutez de nouveaux talents disponible partout dans le monde  <em data-emoji=":mega:"></em> de nouveaux talents&nbsp;👩‍🚀👨‍🚀
																			disponibles -->

<!-- <div class="ui container" style="border:2px solid red;height:400px">
																	<h2 class="ui center aligned icon inverted header">
																		<i class="circular users icon"></i>
																		Do whatever you want when you want to.
																	</h2>
																	<div class="center-text ">
																		<div class="ui huge  button">Get Started <i class="right arrow icon"></i></div>
																	</div>
																</div> -->
<!-- <h1 class="ui inverted header" style="margin-top:1em;">
																		Recrutez de nouveaux talents disponible partout dans le moonde 👩‍🚀👨‍🚀
																	</h1> -->
<!-- <h1 class="ui inverted header" style="margin-top:1em;">
																		<span class="pre-text-flip">Recrutez <em data-emoji=":mega:"></em><br>
																			de nouveaux talents&nbsp;👩‍🚀👨‍🚀<br>
																			disponibles depuis&nbsp;</span>
																		<span class="text-flip">
																			<div>un espace de coworking&nbsp;🏬</div>
																			<div>partout dans le monde&nbsp;🏕</div>
																			<div>un hôtel&nbsp;⛱</div>
																			<div>un coffeeshop&nbsp;☕️</div>
																			<div>un van&nbsp;🚐</div>
																			<div>l'étranger&nbsp;🛫</div>
																		</span>
																	</h1>
																	<br><br>
																	<p><i class="check icon green"></i> Votre emploi en ligne en 2 minutes</p>
																	<p><i class="check icon green"></i> Soyez vu par des freelances, digital
																		nomades, coworkeurs et télétravailleurs du monde entier</p>
																	<p><i class="check icon green"></i> Un algorithme d'association job-candidats à votre
																		service
																	</p>
																	<p><i class="check icon green"></i> Rejoignez la communité digital nomade</p>
																	<p><i class="check icon green"></i> 100% gratuit !</p>
																	<div class="ui hidden divider"></div>
																	<a href="/subscribe">
																		<div class="ui huge primary button">Rejoindre le réseau&nbsp;<i class="right arrow icon"></i>
																		</div>
																	</a>
																	<br><br> -->

{{template "footer.html" .}}