{{set . "title" "user profile"}}
{{set . "page" "user-d3b8fca8"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<br><br>
<div class="main ui container">

	<!-- crumble -->
	<div class="ui breadcrumb">
		<a href="/" class="section">Home</a>
		<div class="divider"> / </div>
		<a href="/users" class="section">Users</a>
		<div class="divider"> / </div>
		<div class="active section capitalize">{{.pageData.CandidateProfile.Prenom}}</div>
	</div>

	{{if eq .pageData.User.Connected false }}

	<h2>Profile privé, <a href="/login">log in</a> to see this profile !</h2>

	{{else}}
	<div class="ui segment container">
		<div class="ui items">
			<div class="item">
				<div class="image">
					<img src="/public/img/avatars/{{.pageData.CandidateProfile.Webuser.Avatar}}" alt="logo">
				</div>
				<div class="content">
					<h1 class="ui header massive capitalize-all">
						{{.pageData.CandidateProfile.Prenom}} {{.pageData.CandidateProfile.Nom}}
						{{if eq .pageData.CandidateProfile.Nomade true}}
						<span class="ui yellow label"><i class="star icon"></i>
							Nomade
						</span>
						{{end}}
					</h1>
					<div class="ui divider"></div>

					{{if ne (len .pageData.CandidateProfile.Tags) 0}}
					<h4 class="ui header">Skills&nbsp;&nbsp;</h4>
					<a class="item">
						{{range .pageData.CandidateProfile.Tags}}
						<div class="ui purple label">{{.Label}}</div>
						{{end}}
					</a>
					{{end}}
					<br><br>
					{{if ne (len .pageData.CandidateProfile.Langages) 0}}
					<h4 class="ui header">Langages&nbsp;&nbsp;</h4>
					{{range .pageData.CandidateProfile.Langages}}
					<a class="item">
						<div class="ui blue label">{{.Label}}&nbsp;&nbsp;</div>
					</a>
					{{end}}
					{{if ne (len .pageData.CandidateProfile.LangagesOther) 0}}
					<a class="item">
						<div class="ui blue label capitalize">{{.pageData.CandidateProfile.LangagesOther}}&nbsp;&nbsp;</div>
					</a>
					{{end}}
					{{end}}
					<br><br>
					<div class="ui divider"></div>
					<div class="description">
						<p style="font-style: italic;">{{.pageData.CandidateProfile.Description | markDowner}}</p>
					</div>
					<div class="ui divider hidden"></div>


					<div class="extra">
						<a class="ui basic button" href="/public/doc/resumes/{{.pageData.CandidateProfile.CvPath}}">
							<i class="icon user"></i>
							Télécharger son Curiculum Vitae
						</a>
					</div>



					<br><br>
					<h4 class="ui header">Socials&nbsp;&nbsp;</h4>
					{{if ne (len .pageData.CandidateProfile.Website) 0}}
					<a class="item">
						<div class="ui vk mini button">
							<i class="globe icon"></i>
							{{.pageData.CandidateProfile.Website}}
						</div>
					</a>
					{{end}}
					{{if ne (len .pageData.CandidateProfile.Linkedin) 0}}
					<a class="item">
						<div class="ui linkedin mini button">
							<i class="linkedin icon"></i>
							{{.pageData.CandidateProfile.Linkedin}}
						</div>
					</a>
					{{end}}
					{{if ne (len .pageData.CandidateProfile.Twitter) 0}}
					<a class="item">
						<div class="ui twitter mini button">
							<i class="twitter icon"></i>
							{{.pageData.CandidateProfile.Twitter}}
						</div>
					</a>
					{{end}}
					{{if ne (len .pageData.CandidateProfile.Facebook) 0}}
					<a class="item">
						<div class="ui facebook mini button">
							<i class="facebook icon"></i>
							{{.pageData.CandidateProfile.Facebook}}
						</div>
					</a>
					{{end}}
					{{if ne (len .pageData.CandidateProfile.Instagram) 0}}
					<a class="item">
						<div class="ui instagram mini button">
							<i class="instagram icon"></i>
							{{.pageData.CandidateProfile.Instagram}}
						</div>
					</a>
					{{end}}



				</div>
			</div>
		</div>
	</div>

	{{end}}

</div>
<br><br>
{{template "footer.html" .}}