{{set . "title" "users preview"}}
{{set . "page" "users-21f1a40d"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<br><br>
<div class="main ui container">
	<!-- crumble -->
	<div class="ui breadcrumb">
		<a href="/" class="section">Home</a>
		<div class="divider"> / </div>
		<a href="/users" class="section">Candidats</a>
	</div>

	<h1>Profile candidats</h1>

	<div class="ui cards">
		{{range $index, $candidate := .pageData.Candidates}}
		<div class="card">
			<div class="content">
				<img class="right floated mini ui image" src="/public/img/avatars/{{.Webuser.Avatar}}">
				<div class="header capitalize-all">
					{{.Prenom}} {{.Nom}}
				</div>
				<div class="meta">
					{{if eq .Nomade true}}Nomade{{else}}Location: {{.Location.MainLocation.Label}}{{end}}
				</div>
				<div class="description">
					{{range .Tags}}
					<div class="ui purple label capitalize-all">{{.Label}}</div>
					{{end}}
				</div>
			</div>
			<div class="extra content">
				<a href="/user/{{.Webuser.ID}}" class="ui basic green button">Go to profile</a>
			</div>
		</div>
		{{end}}
	</div>
</div>
<br><br>
{{template "footer.html" .}}