.add-job-form fieldset {
    min-width: 430px;
    max-width: 740px;
    margin: 1rem auto !important;
    padding: 3em;
}

.tab {
    padding: 42px !important;
}

#job-tag-handler a.ui.tag {
    margin-top: 10px !important;
    margin-bottom: 14px !important;
}

trix-editor {
    min-height: 221px
}

.full-width {
    display: inline-block
}