/* no nested links */
.company-item {
  position: relative;
}
.company-item .text {
  position: relative;
  z-index: 3;
}

.company-item a:first-child::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.company-item a:last-child::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* no nested links */

.main-list-preview.item.company-item:hover {
    /* background-color: #910808 !important; */
				background-color: #433ee4 !important;
}

.main-list-preview.item.company-item {
  /* background-color: # !important; */
  background-color: #2d7565 !important; 
}

.main-list-preview.item.company-item .image {
	padding-left: 1.5em;
	width: auto !important;
}

.main-list-preview.ui.divided.items>.item:first-child {
    padding-top: 1.5rem !important;
}

/* desktop */
@media only screen and (min-width: 700px) {
	.companies-container {
		max-width: 777px !important;
		margin: 0 auto !important;
	}
	.main-list-preview.item.company-item .main-content {
			max-width: 700px;
			width: 60% !important;
	}
	.main-list-preview.item.company-item {
			max-height:105px;
			height:105px;
	}
}

/* phone */
@media only screen and (max-width: 700px) {
	.main-list-preview.item.company-item .main-content {
		padding: 1rem;
		text-align: center;
	}

	.main-list-preview.item.company-item .image img {
		max-width: 60px !important;
	}

	.contet.company-joined {
		display: none;
	}

}
