.capitalize:first-letter {
	text-transform: capitalize;
}

.capitalize-all {
	text-transform: capitalize !important;
}

.uppercase-all {
	text-transform: uppercase !important;
}

.masthead {
	background-color: #ffffff;
	box-shadow: 0px 1px 10px #bdbdbd;
}

.fright {
	float: right;
}



.thin {
	font-weight: lighter !important;
}

.bold {
	font-weight: 600 !important;
	;
}

.full-width {
	width: 100% !important;
}

.d-invisible {
	display: none;
}

.d-hidden {
	visibility: hidden !important;
}

.icons-background {
	min-height: 100vh;
	/* background: url("/public/img/bg/geometry.png") repeat; */
	/* background: url("/public/img/bg/geometry.png") repeat; */
	/* background: url("/public/img/bg/geometry.png") repeat; */
	/* background: url("/public/img/bg/geometry.png") repeat; */
	/* background: url("/public/img/bg/geometry.png") repeat; */
	/* background: url("/public/img/bg/geometry.png") repeat !important; */
	background: #171717 url("/public/img/bg/geometry_dark.png") repeat;
	/* background: url("/public/img/bg/webb.png") repeat !important; */
	/* background: url("/public/img/bg/double-bubble-dark.png") repeat; */
}

.geometry-light {
	background: url('/public/img/bg/geometry.png') repeat !important;
}

.geometry-dark {
	background: #171717 url("/public/img/bg/geometry_dark.png") repeat;
}

.prism-background {
	background-color: #35416d !important;
	/* #485da8 */
	/* background: url("/public/img/bg/prism.png") repeat !important; */
}

.shadow-box {
	box-shadow: 0px 0px 14px #cecece !important;
}


/* .bg-hero-cd {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/public/img/bg/hero-pic.jpg') !important;
} */
/* .bg-hero-pattern {
 background-image: url('/public/img/bg/pattern.jpg');
} */

/*  todo master fromantic */

.segment.broken-white {
	background-color: #f2f2f2 !important;
}

.accent-orange {
	color: #EF8879 !important;
}

.accent-white {
	color: #fff !important;
}

.light-green {
	color: #5A9C28 !important;
}

.dark-violet-color {
	color: #35416D !important;
}

.bg-dark-green {
	background-color: #DFF0DF !important;
}

.bg-dark-blue {
	background-color: #2D86A2 !important;
}

.bg-light-white {
	background-color: #FFFFFF !important;
}

.bg-light-grey {
	background-color: #d3dce4 !important;
}

.bg-dark-purple {
	background-color: #6D4C69 !important;
}

.bg-positive-green {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif !important;
	background-color: #5978F3 !important;
	color: #ffffff !important;
}

.bg-accent-button {
	/* 433ee4  */ 
	background-color: #0F244D !important;
}

.bg-light-blue {
	background-color: #3F588A !important;
}


.border-accent-button {
	border: 4px solid #0F244D !important;
}

.text-accent-header {
	color: #433ee4 !important;
}

.text-light-header {
	color: #6dffff !important;
}

.relaxed-text {
line-height: 1.5;
}

.font-display {
	font-family: Harmonia Sans W01, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif !important;
}

/* std width of form */
.form-max-width {
	max-width: 600px;
	margin: 0 auto;
}

/* avatar border */

.avatar-border {
	background-color: white !important;
	border: 1px solid transparent !important;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12) !important;
}

/* recruit && index */
.bg-hero {
	background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	min-height: 99vh;
}


.center-text {
	width: 100%;
	text-align: center;
	display: block;
}

.reversed {
	direction: rtl;
}

/* card */

.card.job-preview:hover {
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 1px 1px #433ee4 !important;
	box-shadow: 1px 1px 1px 1px #433ee4 !important;
}

.card.job-preview {
	/* width: 350px !important; */
	max-width: 260px !important;
}

#maxchild .card:nth-child(n+7) {
	display: none !important;
}

/* fix fomantic */

.ui.tag.inverted.label:after {
	background-color:#6dffff !important;
}

.ui.basic.segment {
	margin: 0 !important;
}

.btn-list-lmargin {
	margin-left: 0.5em !important;
}

.ui.secondary.pointing.menu {
    border-bottom: none;
}

.fom-table-flag-fix {
	margin: 0 auto !important;
	display: table !important;
}

@media only screen and (max-width: 700px) {
	.secondary.pointing.menu .item a {
		display: none;
	}
		.secondary.pointing.menu .item.main-logo {
		display: block;
	}
}

/* footer go to bottom */
footer.footer {
	top: 100%;
	position: sticky !important;
}

/* sidebar */

.hidden.menu {
	display: none;
}

.masthead.segment {
	min-height: 700px;
	padding: 1em 0em;
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}



/* .ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
} */

.footer.segment {
	padding: 5em 0em;
}

.secondary.menu .toc.item {
	display: none;
}

.toc.item.inverted {
	color: black !important;
}

@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}

	.secondary.menu .item,
	.secondary.menu .menu {
		display: none;
	}

	.secondary.menu .toc.item {
		display: block;
	}

	.masthead.segment {
		min-height: 350px;
	}

	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}

	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}


/* common item lists */

.center-fom-item {
    align-self: center;
    text-align: center;
}

.main-list-preview.item.item .image img {
    max-width: 50px;
    /* max-height: 50px; */
    background-color: #ffffff;
    background: transparent;
    /* object-fit: cover; */
    margin: 0 auto;
    border-radius: 5px !important;
		padding:4px;
}
.main-list-preview.item {
    border-radius: 9px !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-bottom: 1rem !important;
}
.main-list-preview.item:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: transform 1.02s ease-in-out;
    -moz-transition: transform 1.02s ease-in-out;
    -ms-transition: transform 1.02s ease-in-out;
    transition: transform 0.2s ease-in-out;
    /* transition: background-color .2s; */
    transition-duration: 0.2s;
    box-shadow: 0 10px 32px rgba(0, 35, 75, .1);
}
