/* no nested links */
.job-item {
  position: relative;
}
.job-item .text {
  position: relative;
  z-index: 3;
}
.job-item a:first-child::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.job-item a:last-child::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* rounded logo company */

.logo-company {
	width: 100px;
  min-width: 100px;  
	height: 100px;
	position: relative;
	border-radius: 100%;
	border: 1px solid #000000;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;  
}

/* no nested links */

.main-list-preview.job-item.item:hover {
    background-color: #433ee4 !important;
		/* background-color: #267195 !important; */
}

.main-list-preview.job-item.item {
  /* adb3c9 */
  background-color: #0F244D !important;
}

/* desktop */
@media only screen and (min-width: 700px) {
	.main-list-preview.job-item.item .main-section-preview-job {
			max-width: 700px;
			width: 60% !important;
	}
}

/* phone */
@media only screen and (max-width: 700px) {
 .main-section-preview-job {
	 padding: 1rem;
	 text-align: center;
 }
}

#filter-container {
  padding: 2.1em 2.3em 1.4em 2.3em;
}

.ui.divided.items>.item:first-child {
    padding-top: 1.5rem !important;
}

#jobs-list-header {
    padding: 0 1rem;
}

#job-list-header .column {
    align-self: center;
}

#no-job-placeholder {
    margin: 0 auto;
    width: fit-content;
}

#list-mail-sub {
	max-width: inherit;
}

#jobs-container-placeholder {
    max-width: initial;
}

#pagination-container {
	text-align: center;
}

.accent-purple-border .segment {
	border-radius: 10px;
	border: 6px solid #767e9c;
}

.contentjob {
  background-color: #e1e1e1 !important;
}