.bg-rain {
	/* background-image: linear-gradient(to bottom, #35416d, #30448c, #2c45ab, #3243c8, #433ee4)!important; */
	 background-image: linear-gradient(to bottom, #0e1f50, #0a1c49, #071841, #05153a, #041133) !important;;
    /* background: url('/public/img/bg/milky-way.jpg') repeat center center fixed !important; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wave{
  width:100%;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
	background-color:#fff;
}

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}
.sep {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
