.text-flip { position: relative; top: -25px;}
.text-flip div { 
	display: none; 
	white-space: nowrap;
  transition: .6s transform, .6s top;
}

.text-flip :first-child {
  transform: rotateX(-90deg);
  top: 0px;
  left: 0; 
  position: absolute;
  display: block;
}

.text-flip :nth-child(2) { 
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
}

.text-flip .flip-first {
  display: block;
  transform: rotateX(0deg); 
  top: 25px;
}
.text-flip .flip-second {
  display: block;
  transform: rotateX(90deg); 
  top: 50px;
}

.pre-text-flip {
	/* position: relative; */
	top: 25px;
}