<div class="ui horizontal left aligned header">
	<a class="ui left icon button basic text-accent-header big" href="/company/{{.pageData.CompanyProfile.PublicID}}">
		Profile de l'entreprise
		<i class="hand pointer up outline icon"></i>
	</a>
	&nbsp;<i class="sub ui">
		Profile completé à {{.pageData.CompanyProfile.Stats.ProfileCompletionPercent}}%
	</i>
</div>

<form class="ui form" action="/postcompanyprofile" enctype="multipart/form-data" method="POST">

	{{with $field := field "companyProfile.Logo" .}}
	<div class="container">
		<div class="avatar-upload">
			<div class="avatar-edit">
				<input type='file' id="{{$field.ID}}" name="{{$field.Name}}" accept="image/png, image/jpeg" />
				<label for="{{$field.ID}}"></label>
			</div>
			<div class="avatar-preview">
				<div id="avatar-preview" style="background-image: url('/public/img/avatars/{{$.pageData.User.Avatar}}');">
				</div>
			</div>
		</div>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Name" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Nom social de l'entreprise</label>
		<input type="text" class="ui input" autocapitalize="on" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Value}}">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Location.Label" .}}
	<div class="field {{if $field.Error}}error{{end}} ui search location-search">
		<label>Location du siège</label>
		<div class="ui right action left icon input">
			<i class="map marker alternate search icon text-accent-header" id="location-near-me"></i>
			<input type="text" id="searchBox_Location" autocapitalize="on" value="{{$field.Value}}" autocomplete="off" class="prompt" placeholder="Ville, département, CP…">
			<span class="ui red text">{{$field.Error}}</span>
		</div>
	</div>
	{{end}}
	{{with $field := field "companyProfile.Location.ID" .}}
	<input type="text" hidden id="searchBox_HiddenLocationID" name="{{$field.Name}}" value="{{$field.Value}}" />
	{{end}}

	{{with $field := field "companyProfile.Founded" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Année de création</label>
		<input type="number" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" min="1900" max="{{currentyear}}" value="{{if eq $field.Value 0}}2000{{else}}{{$field.Value}}{{end}}" placeholder="Ex: 2003">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}
	{{with $field := field "companyProfile.Industry.ID" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Secteur d'activité</label>
		<select id="{{$field.ID}}" name="{{$field.Name}}" class="ui fluid search five column dropdown">
			<option value=0></option>
			{{range $.companyIndustry}}
			<option value={{.ID}} {{if eq $field.Value .ID}}selected{{end}}>{{.Label}}</option>
			{{end}}
		</select>
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.CompanySize.ID" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Taille de l'entreprise</label>
		<select id="{{$field.ID}}" name="{{$field.Name}}" class="ui fluid search five column dropdown">
			<option value=0></option>
			<option value=1 {{if eq $field.Value 1}}selected{{end}}>TPE (< 10 salariés)</option>
			<option value=2 {{if eq $field.Value 2}}selected{{end}}>PME (10 à 249)</option>
			<option value=3 {{if eq $field.Value 3}}selected{{end}}>ETI (250 à 4 999)</option>
			<option value=4 {{if eq $field.Value 4}}selected{{end}}>GE (> 5 000)</option>
		</select>
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Description" .}}
	<div class="required field {{if $field.Error}}error{{end}}">
		<label>Description</label>
		<input id="{{$field.ID}}" required="required" type="hidden" name="{{$field.Name}}" value="{{if $field.Value}}{{$field.Value}}{{else if $field.Flash}}{{$field.Flash}}{{end}}">
		<trix-editor placeholder="" input="{{$field.ID}}" style="min-height:221px" contenteditable="true" role="textbox">
		</trix-editor>
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Phone" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Téléphone (les candidats pourront vous contacter par ce numéro)</label>
		<input type="tel" id="{{$field.ID}}" class="ui input" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="+33751515151">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Website" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Site Internet</label>
		<input type="text" id="{{$field.ID}}" class="ui input" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="https://www.exemple.com">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Linkedin" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Linkedin</label>
		<input type="text" class="ui input" id="{{$field.ID}}" class="ui input" name="{{$field.Name}}" value="{{$field.Value}}">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Twitter" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Twitter</label>
		<input type="text" class="ui input" id="{{$field.ID}}" class="ui input" name="{{$field.Name}}" value="{{$field.Value}}">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Facebook" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Facebook</label>
		<input type="text" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Value}}">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Instagram" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Instagram</label>
		<input type="text" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" value="{{$field.Value}}">
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}

	{{with $field := field "companyProfile.Apps" .}}
	<div class="field {{if $field.Error}}error{{end}}">
		<label>Applications utilisées pour rester connecté avec vos employés</label>
		<div class="ui horizontal list">
			<!-- Mail -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 1) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 1) true}} checked {{end}} name="{{$field.Name}}" type="checkbox" tabindex="0" class="d-hidden" value=1>
					<a class="ui icon basic button" data-tooltip="Mail" data-inverted="">
						<i class="big mail icon "></i>
					</a>
				</div>
			</div>
			<!-- phone -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 2) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 2) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=2>
					<a class="ui icon basic button" data-tooltip="Téléphone" data-inverted="">
						<i class="big phone icon "></i>
					</a>
				</div>
			</div>
			<!-- Drive -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 3) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 3) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=3>
					<a class="ui icon basic button" data-tooltip="Gsuite" data-inverted="">
						<i class="big google drive icon "></i>
					</a>
				</div>
			</div>
			<!-- Slack -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 4) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 4) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=4>
					<a class="ui icon basic button" data-tooltip="Slack" data-inverted="">
						<i class="big slack icon "></i>
					</a>
				</div>
			</div>
			<!-- Skype -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 5) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 5) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=5>
					<a class="ui icon basic button" data-tooltip="Skype" data-inverted="">
						<i class="big skype icon "></i>
					</a>
				</div>
			</div>
			<!-- whatsapp -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 6) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 6) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=6>
					<a class="ui icon basic button" data-tooltip="Whatsapp" data-inverted="">
						<i class="big whatsapp icon "></i>
					</a>
				</div>
			</div>
			<!-- Gitlab -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 7) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 7) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=7>
					<a class="ui icon basic button" data-tooltip="Gitlab" data-inverted="">
						<i class="big gitlab icon"></i>
					</a>
				</div>
			</div>
			<!-- Github -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 8) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 8) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=8>
					<a class="ui icon basic button" data-tooltip="Github" data-inverted="">
						<i class="big github icon"></i>
					</a>
				</div>
			</div>
			<!-- discord -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 9) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 9) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=9>
					<a class="ui icon basic button" data-tooltip="Discord" data-inverted="">
						<i class="big discord icon"></i>
					</a>
				</div>
			</div>
			<!-- Dropbox -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 10) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 10) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=10>
					<a class="ui icon basic button" data-tooltip="Dropbox" data-inverted="">
						<i class="big dropbox icon"></i>
					</a>
				</div>
			</div>
			<!-- Cloud -->
			<div class="item">
				<div class="ui {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 11) true}} checked {{end}} checkbox">
					<input {{if eq (checkAppID $.pageData.CompanyProfile.SocialApps 11) true}} checked {{end}} type="checkbox" tabindex="0" class="d-hidden" name="{{$field.Name}}" value=11>
					<a class="ui icon basic button" data-tooltip="Cloud" data-inverted="">
						<i class="big cloud icon"></i>
					</a>
				</div>
			</div>
		</div>
		<span class="ui red text">{{$field.Error}}</span>
	</div>
	{{end}}
	{{with $field := field "companyProfile.Crfsc" .}}
	<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
	{{end}}
	<div class="ui divider hidden"></div>
	<div class="full-width" style="display: inline-block">
		<button type="submit" class="ui large right floated violet primary submit button">Mettre a jour le profile</button>
	</div>
</form>