<!-- todo sortable https://fomantic-ui.com/collections/table.html#sortable -->
<table class="ui selectable collapsing padded table full-width">
	<thead>
		<tr>
			<th class="center aligned">Status</th>
			<th class="three wide aligned">Position</th>
			<th class="center aligned">Contrat</th>
			<th class="center aligned">Périmetre</th>
			<th class="center aligned">Télétravail</th>
			<th class="center aligned" data-tooltip="Date de mise en ligne"><i class="check icon"></i></th>
			<th class="center aligned" data-tooltip="Date d'expiration"><i class="hourglass end icon"></i></th>
			<th class="center aligned" data-tooltip="Nombre de vues"><i class="glasses icon"></i></th>
			<th class="center aligned" data-tooltip="Nombre de clic sur 'Postuler'"><i class="hand point up outline icon"></i></th>
			<th class="center aligned">&nbsp;ff</th>
		</tr>
	</thead>
	<tbody>
		{{range $index, $jobs := .OnlineJobs}}
		<tr>
			<td class="center aligned" id="st-{{.PublicID}}">
				<i class="icon green check"></i>Active
			</td>
			<td class="three wide aligned">
				<a href="/job/{{.PublicID}}">
					{{.Position}}
				</a>
			</td>
			<td class="center aligned">{{.Contrat.Label}}</td>
			<td class="center aligned" data-tooltip="{{.Regional.Label}}">
				{{if eq .Regional.ID 0}}
				{{else if eq .Regional.ID 1}}<i class="icon globe"></i>
				{{else if eq .Regional.ID 2}}<i class="france flag"></i>
				{{else if eq .Regional.ID 3}}<i class="European Union flag"></i>
				{{end}}
			</td>
			<td class="center aligned" {{if .FullRemote}}data-tooltip="100% télétravail" {{else}}data-tooltip="Télétravail partiel" {{end}}>
				{{if .FullRemote}}<i class="icon circle green"></i>
				{{else}}<i class="icon adjust green"></i>{{end}}
			</td>
			<td class="center aligned">{{dateformat .Since}}</td>
			<td class="center aligned">{{dateformat .Until}}</td>
			<td class="center aligned bold">{{.ViewCount}}</td>
			<td class="center aligned bold">{{.RedirectCount}}</td>
			<!-- management -->
			<td class="right aligned">
				<div class="ui buttons">
					<div class="ui floating dropdown icon large basic button">
						<i class="cog icon"></i>
						<div class="menu">
							<div class="header">
								Gérer cet emploi
							</div>
							<!-- <div class="item"><i class="edit icon"></i> Editer</div> todo -->
							<div class="item">
								<form class="ui form" action="/postarchivejob" method="post">
									<input type="hidden" name="postArchivejob.JobID" value="{{.PublicID}}" required="">
									<input type="hidden" name="postArchivejob.Crfsc" value="{{$.Crfsc}}" required="">
									<button class="ui basic button" type="submit"><i class="archive red icon"></i>
										Archiver</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		{{end}}
		{{range $index, $jobs := .PendingJobs}}
		<tr class="warning">
			<td class="center aligned"><i class="icon hourglass"></i>Pending</td>
			<td class="three wide aligned">
				{{.Position}}
			</td>
			<td class="center aligned">{{.Contrat.Label}}</td>
			<td class="center aligned" data-tooltip="{{.Regional.Label}}">
				{{if eq .Regional.ID 0}}
				{{else if eq .Regional.ID 1}}<i class="icon globe"></i>
				{{else if eq .Regional.ID 2}}<i class="france flag"></i>
				{{else if eq .Regional.ID 3}}<i class="European Union flag"></i>
				{{end}}
			</td>
			<td class="center aligned" {{if .FullRemote}}data-tooltip="100% télétravail" {{else}}data-tooltip="Télétravail partiel" {{end}}>
				{{if .FullRemote}}<i class="icon circle"></i>
				{{else}}<i class="icon adjust"></i>{{end}}
			</td>
			<td class="center aligned">{{dateformat .Since}}</td>
			<td class="center aligned">-</td>
			<td class="center aligned bold">{{.ViewCount}}</td>
			<td class="center aligned bold">{{.RedirectCount}}</td>
			<!-- management -->
			<td class="right aligned">
				<div class="ui buttons">
					<div class="ui floating dropdown icon large text-accent-header basic button">
						<i class="cog icon"></i>
						<div class="menu">
							<div class="header">
								Gérer cet emploi
							</div>
							<!-- <div class="item"><i class="edit icon"></i> Editer</div> TODO -->
							<div class="item">
								<form class="ui form" action="/postcanceljob" method="post">
									<input type="hidden" name="postCanceljob.JobID" value="{{.PublicID}}" required="">
									<input type="hidden" name="postCanceljob.Crfsc" value="{{$.Crfsc}}" required="">
									<button class="ui basic button" type="submit"><i class="delete red icon"></i>
										Annuler</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		{{end}}
		{{range $index, $jobs := .ArchivedJobs}}
		<tr class="grey">
			<td class="center aligned"><i class="icon archive"></i>Archivé</td>
			<td class="three wide aligned">
				<a href="/job/{{.PublicID}}">
					{{.Position}}
				</a>
			</td>
			<td class="center aligned">{{.Contrat.Label}}</td>
			<td class="center aligned" data-tooltip="{{.Regional.Label}}">
				{{if eq .Regional.ID 0}}
				{{else if eq .Regional.ID 1}}<i class="icon globe"></i>
				{{else if eq .Regional.ID 2}}<i class="france flag"></i>
				{{else if eq .Regional.ID 3}}<i class="European Union flag"></i>
				{{end}}
			</td>
			<td class="center aligned" {{if .FullRemote}}data-tooltip="100% télétravail" {{else}}data-tooltip="Télétravail partiel" {{end}}>
				{{if .FullRemote}}<i class="icon circle"></i>
				{{else}}<i class="icon adjust"></i>{{end}}
			</td>
			<td class="center aligned">{{dateformat .Since}}</td>
			<td class="center aligned">{{dateformat .Until}}</td>
			<td class="center aligned bold">{{.ViewCount}}</td>
			<td class="center aligned bold">{{.RedirectCount}}</td>
			<!-- management -->
			<td class="right aligned">
				<div class="ui buttons">
					<div class="ui floating dropdown icon large teal basic button">
						<i class="cog icon"></i>
						<div class="menu">
							<div class="header">
								Gérer cet emploi
							</div>
							<div class="item">
								<form class="ui form" action="/postunarchivejob" method="post">
									<input type="hidden" name="postUnarchivejob.JobID" value="{{.PublicID}}" required="">
									<input type="hidden" name="postUnarchivejob.Crfsc" value="{{$.Crfsc}}" required="">
									<button class="ui basic button" type="submit"><i class="up arrow icon"></i>
										Relancer</button>
								</form>
							</div>
							<div class="item">
								<form class="ui form" action="/postdeletejob" method="post">
									<input type="hidden" name="postDeletejob.JobID" value="{{.PublicID}}" required="">
									<input type="hidden" name="postDeletejob.Crfsc" value="{{$.Crfsc}}" required="">
									<button class="ui basic button" type="submit"><i class="delete icon"></i>
										Supprimer</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>