<!-- job -->
<div class="ui two column stackable grid">
	<!-- main left panel -->
	<div class="twelve wide column">
		<div class="ui segment contentjob">
			<div class="ui items">
				<div class="item">
					<div class="middle aligned content">
						<a class="header">{{.Position}}</a>
						<div class="meta">
							<span>{{.Company.Name}}</span>
						</div>
						<div class="extra">
							{{.SinceStr}}
						</div>
					</div>
					<div class="logo-company"
						style="background-image: url('/public/img/avatars/{{.Company.Webuser.Avatar}}');">
					</div>
				</div>
			</div>
		</div>
		<!-- description -->
		<div class="ui segment contentjob large text relaxed-text">
			{{raw .Description}}
		</div>
		<!-- company info -->
		<div class="ui items segment contentjob">
			<div class="item">
				<div class="middle aligned content">
					<a href="/company/{{.Company.PublicID}}" class="header nig capitalize-all">{{.Company.Name}}</a>
					<div class="meta">
						<i class="icon map marker alternate "></i> {{.Company.Location.Label}}
						<i class="icon users"></i> {{.Company.CompanySize.Label}}
					</div>
					<div class="description">
						<p class="relaxed-text">{{textPreview ( htmlToText .Company.Description ) 300}}&nbsp;<a
								href="/company/{{.Company.PublicID}}">+ d'info</a></p>
					</div>
				</div>
				<div class="logo-company"
					style="background-image: url('/public/img/avatars/{{.Company.Webuser.Avatar}}');">
				</div>
			</div>

			{{if ne (len .Company.SocialApps) 0}}
			<br><br>
			<span class="ui black basic ribbon large label">Logiciels utilisés pour rester connecté <i
					class="heart outline icon"></i></span>
			<br><br>
			{{range .Company.SocialApps}}
			{{if eq .ID 1}}<i class="big dark-violet-color mail icon"></i>
			{{else if eq .ID 2}}<i class="big dark-violet-color phone icon"></i>
			<!-- call TODO	{.pageData.CompanyProfile.Phone} -->
			{{else if eq .ID 3}}<i class="big dark-violet-color google drive icon"></i>
			{{else if eq .ID 4}}<i class="big dark-violet-color slack icon"></i>
			{{else if eq .ID 5}}<i class="big dark-violet-color skype icon"></i>
			{{else if eq .ID 6}}<i class="big dark-violet-color whatsapp icon"></i>
			{{else if eq .ID 7}}<i class="big dark-violet-color gitlab icon"></i>
			{{else if eq .ID 8}}<i class="big dark-violet-color github icon"></i>
			{{else if eq .ID 9}}<i class="big dark-violet-color discord icon"></i>
			{{else if eq .ID 10}}<i class="big dark-violet-color dropbox icon"></i>
			{{else if eq .ID 11}}<i class="big dark-violet-color cloud icon"></i>
			{{end}}
			{{.Label}}&nbsp;&nbsp;&nbsp;&nbsp;
			{{end}}
			{{end}}
			<p></p>
			<p></p>


		</div>
		<!-- related jobs -->
		{{if ne (len .SimilarJobs) 0}}
		<div class="ui segment">
			<span class="ui blue ribbon large basic label">Emplois similaires</span>
			<br><br>
			{{template "templates/jobPreviewCard.html" .SimilarJobs}}
			<div class="full-width" style="display: inline-block">
				<br>
				<a href="/jobs?c={{.Company.PublicID}}" class="ui right floated violet primary submit button">Voir tout
					<i class="arrow right icon"></i></a>
			</div>
		</div>
		{{end}}
	</div>
	<!-- right side panel -->
	<div class="four wide column">
		<!-- right button -->
		<div class="ui segment inverted">
			<div class="ui middle aligned selection list">
				<div class="item">
					<a href="/job/postuler/{{.PublicID}}" class="ui button big full-width violet">
						Postuler
					</a>
				</div>
			</div>
		</div>
		<!-- right tags -->
		<div class="ui segment inverted">
			<table class="ui very basic inverted collapsing padded table">
				<tbody>
					{{if ne .Salary 0}}
					<tr>
						<td>
							<h4 class="ui image header"> <i class="icon accent-white money bill alternate outline"></i>
							</h4>
						</td>
						<td>{{.Salary}} € / an</td>
					</tr>
					{{end}}
					{{if ne .Contrat.ID 0}}
					<tr>
						<td>
							<h4 class="ui image header"> <i class="icon accent-white clipboard outline"></i></h4>
						</td>
						<td>{{.Contrat.Label}}</td>
					</tr>
					{{end}}
					<tr>
						<td>
							<h4 class="ui image header"> <i
									class="icon accent-white {{if eq .FullRemote true}}globe{{else}}car{{end}} "></i>
							</h4>
						</td>
						<td>
							{{if eq .FullRemote true}}100% télétravail{{else}}Télétravail partiel{{end}}
						</td>
					</tr>
					{{if ne .WorkTime.ID 0}}
					<tr>
						<td>
							<h4 class="ui image header"> <i class="icon accent-white calendar alternate outline"></i>
							</h4>
						</td>
						<td>{{.WorkTime.Label}}</td>
					</tr>
					{{end}}
					{{if ne .Experience.ID 0}}
					<tr>
						<td>
							<h4 class="ui image header"> <i class="icon accent-white star"></i></h4>
						</td>
						<td class="capitalize-all">{{.Experience.Label}}</td>
					</tr>
					{{end}}
					{{if ne .Regional.ID 0}}
					<tr>
						<td>
							<h4 class="ui image header fom-table-flag-fix"> {{if eq .Regional.ID 2}}<i
									class="france flag"></i>{{else if eq .Regional.ID 3}}<i
									class="eu flag"></i>{{else}}<i class="blue globe americas icon"></i>{{end}}</h4>
						</td>
						<td>Emploi ouvert aux candidats {{if ne .Regional.ID 1}}en {{.Regional.Label}} {{else}} partout
							dans le monde{{end}} </td>
					</tr>
					{{end}}
					{{if ne (len .Tags) 0}}
					<tr>
						<td>
							<h4 class="ui image header"> <i class="icon tags accent-white"></i></h4>
						</td>
						<td>
							<div class="ui relaxed list">
								{{range .Tags}}
								<div class="item">
									<a href="/jobs?tag={{.ID}}" class="ui basic label large">
										#{{.Label}}
									</a>
									<div class="ui fluid popup">
										Voir tous les jobs <b class="capitalize">#{{.Label}}</b>
									</div>
								</div>
								{{end}}
							</div>
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
			<p></p>
		</div>
		<div class="four wide column">
			<!-- right button -->
			<div class="ui segment">
				<div class="ui middle aligned selection list">
					<div class="item">
						<a href="/jobs?c={{.Company.PublicID}}" class="ui button large inverted full-width violet">
							+ d'emplois par {{.Company.Name}}
						</a>
					</div>
					<div class="item">
						<a href="/company/{{.Company.PublicID}}"
							class="ui button large inverted full-width basic violet">
							+ d'info sur {{.Company.Name}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>