<!-- job not found -->
<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="window close outline icon"></i>
        Cet emploi n'existe pas ou a été pourvu.
    </div>
</div>