<div class="ui cards raised" id="maxchild">
	{{range .}}
	<a class="card job-preview" href="/job/{{.PublicID}}">
		<div class="content">
			<!-- todo -->
			<img class="right floated mini ui image" src="/public/img/avatars/{{.Company.Webuser.Avatar}}">
			<h6 class="bold header" style="margin-bottom: 0.5rem;">
				{{.Position}}
			</h6>
			<div class="meta">
				<i class="icon clock outline"></i> {{.SinceStr}}
			</div>
			<!-- <div class="description">
				<p>{{textPreview ( htmlToText .Description ) 149}}</p>
			</div> -->
			<br>
			<div class="ui horizontal list">

				{{if .FullRemote}}
				<div class="item">
					<span class="ui grey basic label">
						<i class="icon shuttle van"></i> 100% télétravail
					</span>
				</div>
				{{else}}
				{{if ne .Company.Location.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon map marker alternate"></i> {{.Company.Location.Label}}
					</span>
				</div>
				{{end}}
				{{end}}
				{{if ne .Contrat.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon file alternate outline"></i> {{.Contrat.Label}}
					</span>
				</div>
				{{end}}
				{{if ne .Regional.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon globe"></i> {{.Regional.Label}}
					</span>
				</div>
				{{end}}
				<br>
				{{range .Tags}}
				<!-- <div class="item">
					<span class="ui teal basic label large capitalize">
						{{.Label}}
					</span>
				</div> -->
				{{end}}
			</div>
		</div>
	</a>
	{{end}}
</div>