<div class="main-list-preview job-item item {{if .Featured}}featured-job{{end}}">
	<div class="ui image" style="padding: 0 1.2em;border-radius: 100px !important;">
		<img src="/public/img/avatars/{{.Company.Webuser.Avatar}}" alt="{{.Company.Name}} logo" style="
			max-width: 80px !important;
background-color: #ffffff;
padding: 4px;
border-radius: 100px !important;">
	</div>
	<div class="middle aligned content main-section-preview-job">
		<a class="header" href="/{{if .IsAggregate}}ajob{{else}}job{{end}}/{{.PublicID}}">{{if .IsAggregate}}<i class="linkify icon"></i>{{end}}{{.Position}}</a>
		<div class="meta">
			<span class="capitalize-all">{{.Company.Name}}</span>
		</div>
		<div class="meta">
			<div class="ui horizontal list">
				{{if ne .Contrat.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon file alternate outline"></i>
						<span class="text">{{.Contrat.Label}}</span>
					</span>
				</div>
				{{end}}
				{{if .FullRemote}}
				<div class="item">
					<span class="ui grey basic label">
						<i class="icon shuttle van"></i>
						<span class="text">100% télétravail</span>
					</span>
				</div>
				{{else}}
				{{if ne .Company.Location.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						<i class="icon map marker alternate"></i>
						<span class="text">{{.Company.Location.Label}}</span>
					</span>
				</div>
				{{end}}
				{{end}}
				{{if ne .Regional.ID 0}}
				<div class="item">
					<span class="ui grey basic label capitalize">
						{{if eq .Regional.ID 2}}<i class="france flag"></i>{{else if eq .Regional.ID 3}}<i class="eu flag"></i>{{else}}<i class="globe americas icon"></i>{{end}}
						<span class="text">{{.Regional.Label}}</span>
					</span>
				</div>
				{{end}}
				{{if ne .Xp.ID 0}}
				<div class="item">
					<a href="/jobs?xp={{.Xp.ID}}" class="ui basic {{if eq .Xp.ID 2}} yellow {{end}} label capitalize" data-position="top center" data-tooltip="Voir les jobs #{{.Xp.Label}}">
						<i class="user {{if eq .Xp.ID 2}} tie {{end}} icon"></i>
						<span class="text">{{.Xp.Label}}</span>
					</a>
				</div>
				{{end}}
				<br>
				{{range .Tags}}
				<div class="item" style="z-index:1000" onclick="window.location='/jobs'" style="cursor: pointer;" tabindex="1">
					<a href="/jobs?tag={{.ID}}" class="ui teal basic label large capitalize" data-position="top center" data-tooltip="Voir les jobs #{{.Label}}">
						<span class="text">#{{.Label}}</span>
					</a>
				</div>
				{{end}}			
			</div>
		</div>
	</div>
	<div class="middle aligned content center-fom-item uppercase-all">
		{{.WorkTime.Label}}
	</div>
	<div class="middle aligned content center-fom-item">
		{{.SinceStr}}
	</div>
</div>