<form onsubmit="return onJobsFilterSubmit(this)" id="jobs-form-filter" class="form-group">
	<!-- panel -->
	<div class="ui inverted form">
		<div class="fields">
			<!-- query && tag search -->

			<!-- <div class="six wide field">
				<div id="job-tag-search" class="ui search">
					<div class="ui right labeled left icon inverted transparent input">
						<i class="tags search icon"></i>
						<input id="skill-search-input" name="query-less" value="{{.queryFilter.Q}}" type="text"
							autocomplete="off" class="prompt" placeholder="Web, Marketing, C++ ...">
					</div>
				</div>
			</div> -->

			<div class="sixteen wide field">
				<select name="query-tags" class="ui fluid search three column inverted transparent dropdown"
					multiple="">
					<i class="tags search icon"></i>
					<option value="">Web, Marketing, C++ ...</option>
					{{range .pageData.MostUsedTags}}
					<option value="{{.ID}}">{{.Label}} ({{.Count}})</option>
					{{end}}
				</select>
			</div>
		</div>
	</div>
	<!-- subpanel -->
	<div class="ui form">
		<div class="fields">
			<!-- contrat dropdown -->
			<div class="four wide field">
				<select name="contrat-less" multiple="" class="ui fluid inverted transparent dropdown">
					<option value="">Contrat</option>
					<option {{if HasFieldInt .queryFilter.Contrat 1}} selected {{end}} value=1>CDI</option>
					<option {{if HasFieldInt .queryFilter.Contrat 2}} selected {{end}} value=2>CDD</option>
					<option {{if HasFieldInt .queryFilter.Contrat 3}} selected {{end}} value=3>Freelance</option>
					<option {{if HasFieldInt .queryFilter.Contrat 4}} selected {{end}} value=4>Stage</option>
					<option {{if HasFieldInt .queryFilter.Contrat 5}} selected {{end}} value=5>Interim</option>
					<option {{if HasFieldInt .queryFilter.Contrat 6}} selected {{end}} value=6>Contrat pro</option>
					<option {{if HasFieldInt .queryFilter.Contrat 7}} selected {{end}} value=7>Apprentissage</option>
					<option {{if HasFieldInt .queryFilter.Contrat 8}} selected {{end}} value=8>Autre</option>
				</select>
			</div>
			<!-- xp dropdown -->
			<div class="four wide field">
				<select name="xp-less" multiple="" class="ui fluid inverted transparent dropdown">
					<option value="">Experience</option>
					<option {{if HasFieldInt .queryFilter.Xp 1}} selected {{end}} value=1>Junior</option>
					<option {{if HasFieldInt .queryFilter.Xp 2}} selected {{end}} value=2>Senior</option>
					<!--todo remove master -->
				</select>
			</div>
			<!-- work time -->
			<div class="four wide field">
				<select name="time-less" multiple="" class="ui fluid inverted transparent dropdown">
					<option value="">Temps</option>
					<option {{if HasFieldInt .queryFilter.Time 1}} selected {{end}} value=1>Temps Plein</option>
					<option {{if HasFieldInt .queryFilter.Time 2}} selected {{end}} value=2>Temps Partiel</option>
				</select>
			</div>
			<!-- salaire dropdown -->
			<!-- <div class="three wide field">
				<div class="ui right labeled inverted transparent input">
					<input placeholder="€/an minimum" name="salary-less" type="number" min=0 max=200000 step=500
						value="{{if ne .queryFilter.SalaryMin 0}}{{.queryFilter.SalaryMin}}{{else}}{{end}}">
				</div>
			</div> -->
			<!-- go -->
			<div class="four wide field">
				<button class="ui large teal labeled icon button" id="jobs-form-filter-submit" type="submit"
					style="width: 100%;">
					<i id="filtering-status-icon" class="right arrow icon"></i>
					Rechercher
				</button>
			</div>
		</div>
	</div>
	<div class="ui form">

		<!-- wlabels -->
		<div id="job-tag-handler">
			{{range .queryFilter.Tags}}
			<a data-tooltip="Supprimer" data-position="bottom center" data-tagid={{.ID}} data-tagtype="tags" nohref
				onClick="$(this).remove();" class="ui large teal skilltag basic label">#{{.Label}}</a>&nbsp;
			<div class="ui small bottom center popup">
				Supprimer
			</div>
			{{end}}
			{{if ne .queryFilter.Company.DbID 0}}
			<a data-tooltip="Supprimer" data-position="bottom center" data-tagid={{.queryFilter.Company.PublicID}}
				data-tagtype="company" nohref onClick="$(this).remove();"
				class="ui orange basic label large capitalize inverted">{{.queryFilter.Company.Name}}</a>
			{{end}}
		</div>
	</div>
	<!-- hidden location result -->
	<input hidden type="text" id="searchBox_HiddenLocationID" value="{{.queryFilter.Location.ID}}" name="location-less">
	<!-- user specific filters -->
	<input hidden type="checkbox" name="SuggestedJobsOnly" {{if eq .queryFilter.Ronly 1}} checked {{end}}>
	<input hidden type="checkbox" name="SavedFilterQuery" {{if eq .queryFilter.Sonly 1}} checked {{end}}>
</form>

<!-- $('#jobs-form-filter').submit(); -->