<!-- .flash .errors.all -->
{{if .flash.info}}
<div class="ui info message">
	<i class="close icon"></i>
	{{.flash.info}}
</div>
{{end}}
{{if .flash.success}}
<div class="ui success message">
	<i class="close icon"></i>
	{{.flash.success}}
</div>
{{end}}
{{if .errors}}
<div class="d-invisible">{{.page}}-error</div>
<div class="ui error message">
	<i class="close icon"></i>
	<div class="header">
		Malheuresement, une erreur s'est produite.
	</div>
	<div class="ui list">
		{{ range $key, $value := .errors }}
		<!-- or dot -->
		<div class="item">{{ $value }}</div>
		{{ end }}
	</div>
</div>
{{end}}
{{if .flash.error}}
<div class="ui d-invisible">{{.page}}-error</div>
<div class="ui error message">
	<i class="close icon"></i>
	{{.flash.error}}
</div>
{{end}}
