<br>
<br>
<!-- no jobs -->
<h2 id="job-page-end-header" class="ui header center-text">
    <div class="content">
        <i class="ghost icon large" style="color: #D2D2DE;"></i>
        <i class="ghost icon large" style="color: #D2D2DE;"></i>
        <i class="ghost icon large" style="color: #D2D2DE;"></i>
        <br><br>
        <button id="list-mail-sub" class="ui right labeled icon button">
            <i class="mail icon"></i>
            S'abonner à cette recherche
        </button>
    </div>
</h2>
<br>
<br>
