{{set . "page" "404-b6avvq4g"}}


<!DOCTYPE html>
<html lang="en">

<head>
	<title>>>Not found</title>
</head>

<body>

	{{template "templates/messages.html" .}}

	{{if eq .RunMode "dev"}}
	{{template "errors/404-dev.html" .}}
	{{else}}
	{{with .Error}}
	<h1>
		{{.Title}}
	</h1>
	<p>
		{{.Description}}
	</p>
	{{end}}
	{{end}}
</body>

</html>