{{set . "title" "About us"}}
{{set . "page" "about-3f6537ca"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<br><br>
<div class="main ui container">
	<h1 class="header">About us</h1>

	{{template "templates/messages.html" .}}

	<div class="ui tab active" data-tab="individual">
		<div class="ui sticky" style="left: 1275px;">
			<h4 class="ui header">Contributor license agreement</h4>
			<div class="ui vertical following fluid accordion text menu">
				<div class="item active"><a class="active title" href="#about"><b>1. About us</b></a></div>
				<div class="item"><a class="title active" href="#FAQ"><b>2. FAQ</b></a></div>
				<div class="item"><a class="title active" href="#contact"><b>3. Contact</b></a></div>
				<div class="item"><a class="title active" href="#privacy"><b>4. Privacy</b></a></div>
				<div class="item"><a class="title active" href="#tos"><b>5. Terms Of Service
							Waiver</b></a></div>
				<div class="item"><a class="title active" href="#miscellaneous"><b>6. Miscellaneous</b></a></div>
			</div>
		</div>
		<h1>Semantic UI Individual Contributor License Agreement</h1>
		EmploiNomade is a professional and trustworthy global job aggregator and derivatives remote platform.
		<p>Thank you for your interest in contributing to Semantic UI ("We" or "Us").</p>

		<p>This contributor agreement ("Agreement") documents the rights granted by contributors to Us. To make this
			document effective, please sign it and send it to Us by email or electronic submission, following the
			instructions
			at [URL]. This is a legally binding document, so please read it carefully before agreeing to it. The Agreement
			may
			cover more than one software project managed by Us.</p>

		<h2 class="ui header">1. Definitions<a class="anchor" id="about"></a></h2>

		<p>"You" means the individual who Submits a Contribution to Us.</p>

		<p>"Contribution" means any work of authorship that is Submitted by You to Us in which You own or assert ownership
			of the Copyright. If You do not own the Copyright in the entire work of authorship, please follow the
			instructions
			in .</p>

		<p>"Copyright" means all rights protecting works of authorship owned or controlled by You, including copyright,
			moral and neighboring rights, as appropriate, for the full term of their existence including any extensions by
			You.</p>

		<p>"Material" means the work of authorship which is made available by Us to third parties. When this Agreement
			covers more than one software project, the Material means the work of authorship to which the Contribution was
			Submitted. After You Submit the Contribution, it may be included in the Material.</p>

		<p>"Submit" means any form of electronic, verbal, or written communication sent to Us or our representatives,
			including but not limited to electronic mailing lists, source code control systems, and issue tracking systems
			that are managed by, or on behalf of, Us for the purpose of discussing and improving the Material, but excluding
			communication that is conspicuously marked or otherwise designated in writing by You as "Not a Contribution."
		</p>

		<p>"Submission Date" means the date on which You Submit a Contribution to Us.</p>

		<p>"Effective Date" means the date You execute this Agreement or the date You first Submit a Contribution to Us,
			whichever is earlier.</p>

		<p>"Media" means any portion of a Contribution which is not software.</p>

		<h2 class="ui header">2. Grant of Rights<a class="anchor" id="FAQ"></a></h2>

		<h3>2.1 Copyright License</h3>

		<p>(a) You retain ownership of the Copyright in Your Contribution and have the same rights to use or license the
			Contribution which You would have had without entering into the Agreement.</p>

		<p>(b) To the maximum extent permitted by the relevant law, You grant to Us a perpetual, worldwide, non-exclusive,
			transferable, royalty-free, irrevocable license under the Copyright covering the Contribution, with the right to
			sublicense such rights through multiple tiers of sublicensees, to reproduce, modify, display, perform and
			distribute the Contribution as part of the Material; provided that this license is conditioned upon compliance
			with Section 2.3.</p>


		<h3>2.2 Patent License</h3>

		<p>For patent claims including, without limitation, method, process, and apparatus claims which You own, control
			or
			have the right to grant, now or in the future, You grant to Us a perpetual, worldwide, non-exclusive,
			transferable, royalty-free, irrevocable patent license, with the right to sublicense these rights to multiple
			tiers of sublicensees, to make, have made, use, sell, offer for sale, import and otherwise transfer the
			Contribution and the Contribution in combination with the Material (and portions of such combination). This
			license is granted only to the extent that the exercise of the licensed rights infringes such patent claims; and
			provided that this license is conditioned upon compliance with Section 2.3.</p>

		<h3>2.3 Outbound License</h3>

		<p>
			<!--(Option One)-->As a condition on the grant of rights in Sections 2.1 and 2.2, We agree to license the
			Contribution only under the terms of the license or licenses which We are using on the Submission Date for the
			Material (including any rights to adopt any future version of a license if permitted).
		</p>


		<p>In addition, We may use the following licenses for Media in the Contribution: Creative Commons Attribution 3.0
			(including any right to adopt any future version of a license if permitted).</p>

		<p><span class="heading">2.4 Moral Rights.</span> If moral rights apply to the Contribution, to the maximum extent
			permitted by law, You waive and agree not to assert such moral rights against Us or our successors in interest,
			or
			any of our licensees, either direct or indirect.</p>

		<p><span class="heading">2.5 Our Rights.</span> You acknowledge that We are not obligated to use Your Contribution
			as part of the Material and may decide to include any Contribution We consider appropriate.</p>

		<p><span class="heading">2.6 Reservation of Rights.</span> Any rights not expressly licensed under this section
			are
			expressly reserved by You.</p>

		<h2 class="ui header">3. Agreement<a class="anchor" id="contact"></a></h2>

		<p>You confirm that:</p>

		<p>(a) You have the legal authority to enter into this Agreement.</p>

		<p>(b) You own the Copyright and patent claims covering the Contribution which are required to grant the rights
			under Section 2.</p>

		<p>(c) The grant of rights under Section 2 does not violate any grant of rights which You have made to third
			parties, including Your employer. If You are an employee, You have had Your employer approve this Agreement or
			sign the Entity version of this document. If You are less than eighteen years old, please have Your parents or
			guardian sign the Agreement.</p>

		<p>(d) You have followed the instructions in , if You do not own the Copyright in the entire work of authorship
			Submitted.</p>

		<h2 class="ui header">4. Disclaimer<a class="anchor" id="privacy"></a></h2>

		<p>EXCEPT FOR THE EXPRESS WARRANTIES IN SECTION 3, THE CONTRIBUTION IS PROVIDED "AS IS". MORE PARTICULARLY, ALL
			EXPRESS OR IMPLIED WARRANTIES INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS
			FOR
			A PARTICULAR PURPOSE AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED BY YOU TO US. TO THE EXTENT THAT ANY SUCH
			WARRANTIES CANNOT BE DISCLAIMED, SUCH WARRANTY IS LIMITED IN DURATION TO THE MINIMUM PERIOD PERMITTED BY LAW.
		</p>

		<h2 class="ui header">5. Consequential Damage Waiver<a class="anchor" id="tos"></a></h2>

		<p>6.1 This Agreement will be governed by and construed in accordance with the laws of United States of America
			excluding its conflicts of law provisions. Under certain circumstances, the governing law in this section might
			be
			superseded by the United Nations Convention on Contracts for the International Sale of Goods ("UN Convention")
			and
			the parties intend to avoid the application of the UN Convention to this Agreement and, thus, exclude the
			application of the UN Convention in its entirety to this Agreement.</p>

		<p>6.2 This Agreement sets out the entire agreement between You and Us for Your Contributions to Us and overrides
			all other agreements or understandings.</p>

		<p>6.3 If You or We assign the rights or obligations received through this Agreement to a third party, as a
			condition of the assignment, that third party must agree in writing to abide by all the rights and obligations
			in
			the Agreement.</p>

		<p>6.4 The failure of either party to require performance by the other party of any provision of this Agreement in
			one situation shall not affect the right of a party to require such performance at any time in the future. A
			waiver of performance under a provision in one situation shall not be considered a waiver of the performance of
			the provision in the future or a waiver of the provision in its entirety.</p>

		<p>6.5 If any provision of this Agreement is found void and unenforceable, such provision will be replaced to the
			extent possible with a provision that comes closest to the meaning of the original provision and which is
			enforceable. The terms and conditions set forth in this Agreement shall apply notwithstanding any failure of
			essential purpose of this Agreement or any limited remedy to the maximum extent possible under law.</p>
	</div>
	<div class="ui tab" data-tab="entity">
		<h1>Semantic UI Entity Contributor License Agreement</h1>
		<p>Thank you for your interest in contributing to Semantic UI ("We" or "Us").</p>

		<p>This contributor agreement ("Agreement") documents the rights granted by contributors to Us. To make this
			document effective, please sign it and send it to Us by email or electronic submission, following the
			instructions
			at . This is a legally binding document, so please read it carefully before agreeing to it. The Agreement may
			cover more than one software project managed by Us.</p>
	</div>

</div>

<br><br>

{{template "footer.html" .}}