{{if .pageData.CompanyProfile}}
{{set . "title" (printf "%s %s" .pageData.CompanyProfile.Name "sur Emploi Nomade")}}
{{else}}
{{set . "title" "Company non trouvée"}}
{{end}}
{{set . "page" "company-8d82df06"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

{{if .pageData.CompanyProfile}}


<div class="ui vertical  ">

	<div class="ui container inverted segment" style="background-color: #3F588A;">


		<div class="ui clearing inverted segment" style="background-color: #3F588A;">
			<h3 class="ui right floated header">
				<a href="/jobs?c={{$.pageData.CompanyProfile.PublicID}}" class="ui inverted teal basic button">Voir
					tous les emplois de {{.pageData.CompanyProfile.Name}}</a>
			</h3>
			<h1 class="ui left floated header">
				<img class="ui avatar inverted image massive avatar-border"	src="/public/img/avatars/{{.pageData.CompanyProfile.Webuser.Avatar}}">
				{{.pageData.CompanyProfile.Name}}
			</h1>
		</div>
	</div>

	<!-- <div class="ui container inverted segment" style="background-color: #3F588A;border-radius: 14px;padding: 40px;">

		<div class="ui middle aligned divided ">
			<div class="item">
				<div class="right floated content" style="padding-top: 1.6em;">
					<a href="/jobs?c={{$.pageData.CompanyProfile.PublicID}}" class="ui inverted teal basic button">Voir
						tous les emplois de {{.pageData.CompanyProfile.Name}}</a>
				</div>
				<img class="ui avatar inverted image tiny avatar-border "
					src="/public/img/avatars/{{.pageData.CompanyProfile.Webuser.Avatar}}">
				<div class="ui inverted content">
					<span class="ui accent-white text big"
						style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;{{.pageData.CompanyProfile.Name}}</span>
				</div>
			</div>
		</div>
	</div> -->
</div>

<div class="geometry-light">
	<div class="ui container">

		<style>
			#avatar-preview {
				width: 109px;
				height: 109px;
				position: relative;
				border-radius: 100%;
				border: 6px solid #F8F8F8;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
			}

			#avatar-preview>div {
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		</style>




		<div class="ui two column stackable grid">

			<!-- main left panel -->
			<div class="twelve wide column">
				<div class="ui hidden divider"></div>
				<!-- jobs -->
				{{if gt .pageData.CompanyProfile.Stats.JobActiveCount 0}}
				<div class="ui  segment broken-white ">
					<span class="ui black basic ribbon large label">Jobs
						({{.pageData.CompanyProfile.Stats.JobActiveCount}})</span>
					<br><br>
					{{template "templates/jobPreviewCard.html" .pageData.CompanyProfile.AvailableJobs}}
					<div class="full-width" style="display: inline-block">
						<br>
						<a href="/jobs?c={{.pageData.CompanyProfile.PublicID}}"
							class="ui right floated teal submit button">Voir
							tout <i class="arrow right icon"></i></a>
					</div>
				</div>
				{{end}}
				<!-- about -->
				<div class="ui  segment broken-white ">
					<a class="ui black basic ribbon large label">À propos de nous</a>
					<br>
					<p>{{.pageData.CompanyProfile.Description | markDowner}}</p>
					<p></p>
				</div>
				<!-- tech -->
				{{if gt (len .pageData.CompanyProfile.Tags) 0}}
				<div class="ui  segment broken-white ">
					<span class="ui black basic ribbon large label">Technologies</span>
					<br><br>
					<div class="ui horizontal list">
						{{range .pageData.CompanyProfile.Tags}}
						<div class="item">
							<a href="/jobs?tag={{.ID}}&c={{$.pageData.CompanyProfile.PublicID}}"
								class="ui teal basic label large capitalize" data-position="top center"
								data-tooltip="Voir les jobs #{{.Label}} de {{$.pageData.CompanyProfile.Name}}">
								{{.Label}}</a>
						</div>
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
			<!-- right side panel -->
			<div class="four wide column">
				<div class="ui hidden divider"></div>
				<!-- 1st right info panel -->
				<div class="ui  segment bg-light-blue ">
					<span class="ui teal large right ribbon label">Aperçu</span>
					<table class="ui very basic collapsing celled inverted table center aligned full-width">
						<tbody>
							{{if ne .pageData.CompanyProfile.Industry.ID 0}}
							<tr>
								<td data-tooltip="Secteur d'activité" data-position="left center">
									<h4 class="ui image header"> <i class="icon industry accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Industry.Label}}
								</td>
							</tr>
							{{end}}
							{{if ne .pageData.CompanyProfile.CompanySize.ID 0}}
							<tr>
								<td data-tooltip="Taille de l'entreprise" data-position="left center">
									<h4 class="ui image header"> <i class="icon users accent-white"></i> </h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.CompanySize.Label}}
								</td>
							</tr>
							{{end}}
							{{if ne .pageData.CompanyProfile.Location.ID 0}}
							<tr>
								<td data-tooltip="Location du siège social" data-position="left center">
									<h4 class="ui image header"> <i class="icon map marker alternate accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Location.Label}}
								</td>
							</tr>
							{{end}}
							{{if ne .pageData.CompanyProfile.Founded 0}}
							<tr>
								<td data-tooltip="Date de création" data-position="left center">
									<h4 class="ui image header"> <i class="icon building accent-white"></i>
									</h4>
								</td>
								<td>
									Fondé en {{.pageData.CompanyProfile.Founded}}
								</td>
							</tr>
							{{end}}
						</tbody>
					</table>
					<!-- stats -->
					<span class="ui teal  large right ribbon label">Statistiques</span>
					<table class="ui very basic collapsing celled inverted table center aligned full-width">
						<tbody>
							<tr>
								<td data-tooltip='Jobs View{{pluralize .pageData.CompanyProfile.Stats.JobTotalViewCount "" "s"}}'
									data-position="left center">
									<h4 class="ui image header"> <i class="icon glasses accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Stats.JobTotalViewCount}} Jobs View{{pluralize
									.pageData.CompanyProfile.Stats.JobTotalViewCount "" "s"}}
								</td>
							</tr>
							<tr>
								<td data-tooltip='Vue{{pluralize .pageData.CompanyProfile.Stats.ProfileViewCount "" "s"}} profile'
									data-position="left center">
									<h4 class="ui image header"> <i class="icon user accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Stats.ProfileViewCount}} Vue{{pluralize
									.pageData.CompanyProfile.Stats.ProfileViewCount "" "s"}} profile
								</td>
							</tr>
							<tr>
								<td data-tooltip='Emploi{{pluralize .pageData.CompanyProfile.Stats.JobActiveCount "" "s"}} en ligne'
									data-position="left center">
									<h4 class="ui image header"> <i
											class="icon file alternate outline accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Stats.JobActiveCount}} Emploi{{pluralize
									.pageData.CompanyProfile.Stats.JobActiveCount "" "s"}} en ligne
								</td>
							</tr>
						</tbody>
					</table>
					<!-- social -->
					<span class="ui teal  large right ribbon label">Réseaux Sociaux</span>
					<table class="ui very basic collapsing celled inverted table center aligned full-width">
						<tbody>
							{{if ne (len .pageData.CompanyProfile.Website) 0}}
							<tr>
								<td data-position="left center">
									<h4 class="ui image header"> <i class="icon vk accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Website}}
								</td>
							</tr>
							{{end}}

							{{if ne (len .pageData.CompanyProfile.Linkedin) 0}}
							<tr>
								<td data-position="left center">
									<h4 class="ui image header"> <i class="icon linkedin accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Linkedin}}
								</td>
							</tr>
							{{end}}

							{{if ne (len .pageData.CompanyProfile.Twitter) 0}}
							<tr>
								<td data-position="left center">
									<h4 class="ui image header"> <i class="icon twitter accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Twitter}}
								</td>
							</tr>
							{{end}}

							{{if ne (len .pageData.CompanyProfile.Facebook) 0}}
							<tr>
								<td data-position="left center">
									<h4 class="ui image header"> <i class="icon facebook accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Facebook}}
								</td>
							</tr>
							{{end}}

							{{if ne (len .pageData.CompanyProfile.Instagram) 0}}
							<tr>
								<td data-position="left center">
									<h4 class="ui image header"> <i class="icon instagram accent-white"></i>
									</h4>
								</td>
								<td>
									{{.pageData.CompanyProfile.Instagram}}
								</td>
							</tr>
							{{end}}

						</tbody>
					</table>



					<p></p>
				</div>


			</div>
		</div>
		{{else}}
		<div class="d-invisible">error-8d82df06</div>
		Cette company n'existe pas.
		{{end}}

		<div class="ui hidden divider"></div>
		<div class="ui hidden divider"></div>
		<div class="ui hidden divider"></div>
	</div>
</div>
{{template "footer.html" .}}










<!-- 2nd right info panel -->
<!-- <div class="ui piled segment bg-light-blue ">
					<span class="ui teal  large right ribbon label">Statistiques</span>
					<p></p>
					<div class="ui small inverted statistics" style="text-align: center;display: block;">
						<div class="statistic">
							<div class="value">
								<i class="small glasses icon"></i>
								{{.pageData.CompanyProfile.Stats.JobTotalViewCount}}
							</div>
							<div class="label">
								Jobs View{{pluralize .pageData.CompanyProfile.Stats.JobTotalViewCount "" "s"}}
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								<i class="small user icon"></i> {{.pageData.CompanyProfile.Stats.ProfileViewCount}}
							</div>
							<div class="label">
								Vue{{pluralize .pageData.CompanyProfile.Stats.ProfileViewCount "" "s"}} profile
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								<i class="small file alternate outline icon"></i>
								{{.pageData.CompanyProfile.Stats.JobActiveCount}}
							</div>
							<div class="label">
								Emploi{{pluralize .pageData.CompanyProfile.Stats.JobActiveCount "" "s"}} en ligne
							</div>
						</div>
					</div>
				</div> -->

<!-- 3e right info panel -->
<!-- <div class="ui piled segment broken-white ">
					<a class="ui teal large right ribbon label">Réseaux Sociaux</a>
					<p></p>
					<p></p>
					<div class="ui relaxed list">
						{{if ne (len .pageData.CompanyProfile.Website) 0}}
						<a class="item">
							<button class="ui icon vk button">
								<i class="globe icon"></i>
							</button>
							{{.pageData.CompanyProfile.Website}}
						</a>
						{{end}}
						{{if ne (len .pageData.CompanyProfile.Linkedin) 0}}
						<a class="item">
							<button class="ui icon linkedin button">
								<i class="linkedin icon"></i>
							</button>
							{{.pageData.CompanyProfile.Linkedin}}
						</a>
						{{end}}
						{{if ne (len .pageData.CompanyProfile.Twitter) 0}}
						<a class="item">
							<button class="ui icon twitter button">
								<i class="twitter icon"></i>
							</button>
							{{.pageData.CompanyProfile.Twitter}}
						</a>
						{{end}}
						{{if ne (len .pageData.CompanyProfile.Facebook) 0}}
						<a class="item">
							<button class="ui icon facebook button">
								<i class="facebook icon"></i>
							</button>
							{{.pageData.CompanyProfile.Facebook}}
						</a>
						{{end}}
						{{if ne (len .pageData.CompanyProfile.Instagram) 0}}
						<a class="item">
							<button class="ui icon instagram button">
								<i class="instagram icon"></i>
							</button>
							{{.pageData.CompanyProfile.Instagram}}
						</a>
						{{end}}
					</div>
				</div>
			</div>
		</div> -->