{{set . "title" "Emploi Nomade: Top recruteurs"}}
{{set . "page" "companies-61c26c62"}}
{{set . "user" .pageData.User}}
{{append . "moreStyles" "_companies.css"}}
{{template "header.html" .}}

<div class="ui hidden divider"></div>

<div class="ui companies-container container inverted segment">
	<div class="ui message center-text">
		<p>[LIVE] Classement des plus importantes companies recrutant sur Emploi Nomade depuis les 3 derniers mois&nbsp;&nbsp;<i class="graduation cap icon"></i>
	</div>
	<div class="main-list-preview ui divided link inverted unstackable items">
		{{range $index, $company := .pageData.Companies}}

		<div class="main-list-preview company-item item">

			<div class="middle aligned inverted content center-fom-item" style="background: white;width:  2.7em;max-width: 2.7em;min-width: 2.7em;">
				<span class="ui big black text">{{plus $index 1}}</span>
			</div>

			<div class=" ui tiny image ">
				<img src="/public/img/avatars/{{.Webuser.Avatar}}" alt="{{.Name}} logo" style="max-width: 60px !important;    width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: fill-available;">
			</div>
			<div class="middle aligned content main-content">
				<a class="header capitalize-all" href="/company/{{.PublicID}}">{{.Name}}</a>
				{{if .Tags}}
				<div class="extra">
					<div class="ui horizontal list">
						{{range .Tags}}
						<span nohref class="ui teal basic label capitalize">
							<span class="text">{{.Label}}</span>
						</span>
						{{end}}
					</div>
				</div>
				{{end}}
			</div>
			<div class="middle aligned content center-fom-item uppercase-all">
				{{.AvailableJobCount}} Jobs
			</div>
			<div class="middle aligned content center-fom-item company-joined">
				{{dateformatalt .Webuser.SubscriptionDate}}
			</div>
		</div>
		{{end}}
	</div>
</div>
<br>
<div class="ui divider hidden"></div>

{{template "footer.html" .}}