{{set . "title" "Your dashboard"}}
{{set . "page" "dashboard-3e4472d5"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_dashboard.css"}}
{{append . "moreStyles" "_profile.css"}}
{{append . "moreScripts" "_dashboard.js"}}
{{template "header.html" .}}

<br><br>
<div class="main ui segment container" style="padding: 2em;">
	{{template "templates/messages.html" .}}
	<!-- dashboard content-->
	<h1 class="ui header text-accent-header aligned center">
		Tableau de Bord
	</h1>
	<!-- profile+stat -->
	<div class="ui three column doubling stackable grid">
		<div class="column">
			<div class="ui vertical segment ">
				<div class="ui horizontal reversed statistics">
					<div class="statistic">
						<div class="value">
							{{len .pageData.Jobs.OnlineJobs}}
						</div>
						<div class="label">
							&nbsp;&nbsp;&nbsp;Online jobs
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							{{len .pageData.Jobs.PendingJobs}}
						</div>
						<div class="label">
							&nbsp;&nbsp;&nbsp;Pending jobs
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							{{len .pageData.Jobs.ArchivedJobs}}
						</div>
						<div class="label">
							&nbsp;&nbsp;&nbsp;Archived jobs
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui segment vertical">
				<div class="avatar-upload" style="margin: 0px auto !important;">
					<div class="avatar-preview">
						<div id="avatar-preview" style="background-image: url('/public/img/avatars/{{$.pageData.User.Avatar}}');">
						</div>
					</div>
				</div>
				{{if ne .pageData.Stats.ProfileCompletionPercent 100}}
				<h4 class="ui header aligned center">
					Votre profile est complété à {{.pageData.Stats.ProfileCompletionPercent}}%<br><br>
					<a href="/space/profile" class="ui large violet primary submit button">Completer le profile</a>
				</h4>
				{{end}}
				<h4 class="ui header aligned center">
					<a href="/board/job/new" class="ui large violet primary submit button">Publier un emploi</a>
				</h4>
			</div>
		</div>
		<div class="column">
			<div class="ui vertical segment center aligned">
				<div class="ui horizontal statistics">
					<div class="statistic">
						<div class="value">
							{{.pageData.Stats.ProfileViewCount}}
						</div>
						<div class="label">
							visite{{pluralize .pageData.Stats.ProfileViewCount "" "s"}} de votre profile cette semaine
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							{{.pageData.Stats.JobTotalCount}}
						</div>
						<div class="label">
							Total Jobs Views
						</div>
					</div>
					<div class="statistic">
						<div class="value">
							22
						</div>
						<div class="label">
							Total Redirection
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider hidden"></div>
	<!-- jobs -->
	<div id="jobs-table">
		{{template "templates/companyJobDashboard.html" .pageData.Jobs}}
	</div>
</div>
<br><br>

{{template "footer.html" .}}