{{if .pageData.Job}}
{{set . "title" .pageData.Job.Position}}
{{else}}
{{set . "title" "404 - Emploi nomade"}}
{{end}}
{{set . "page" "job-a42dd19g"}}
{{set . "user" .pageData.User}}

{{append . "moreScripts" "_job.js"}}
{{append . "moreStyles" "_jobs.css"}}
{{template "header.html" .}}

<div class="ui container accent-purple-border">
	<div class="ui divider hidden"></div>
	<div class="ui large inverted breadcrumb">
		<a href="/jobs" class="section accent-white ">Jobs</a>
		<i class="right chevron icon divider"></i>
		{{if .pageData.Job }}
		<div class="active section">{{.pageData.Job.Position}}</div>
		{{else}}
		<div class="d-invisible">job-a42dd19g-error</div>
		{{end}}
	</div>
	{{template "templates/messages.html" .}}
	{{if  .pageData.Job}}
	{{if .pageData.Job.PublicID}}
	<div class="ui divider hidden"></div>
	{{template "templates/job.html" .pageData.Job}}
	{{else}}
	{{template "templates/jobNotFound.html" .}}
	{{end}}
	{{else}}
	{{template "templates/jobNotFound.html" .}}
	{{end}}
</div>
<div class="ui divider hidden"></div>

{{template "footer.html" .}}