{{set . "title" "Déposer son annonce d'emploi nomade"}}
{{set . "page" "newjob-8aa1a140"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_addjob.css"}}
{{append . "moreScripts" "_addjob.js"}}
{{append . "moreScripts" "_skills.js"}}

<!-- trix -->
{{append . "moreStyles" "../front-modules/trix/dist/trix.css"}}
{{append . "moreScripts" "../front-modules/trix/dist/trix.js"}}

{{template "header.html" .}}

<br><br>
<div class="main ui segment container" style="padding: 2em;">
	<div class="row">
		<!-- messages -->
		{{template "templates/messages.html" .}}
	</div>
	<div class="ui container">
		<form action="/handlenewjob" onsubmit="return onJobAddSubmit(this)" id="form-add-job" class="ui huge equal width form add-job-form" method="POST">
			{{template "templates/messages.html" .}}
			<br>
			{{with $field := field "newJob.Position" .}}
			<div class="required field">
				<label>Titre de l'emploi</label>
				<input type="text" id="{{$field.ID}}" name="{{$field.Name}}" value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Position}}{{else}}{{$field.Flash}}{{end}}" placeholder="Web developer">
				<span class="ui text small grey">Exemple: “Developpeur C++”.</span>
				{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
			</div>
			{{end}}
			<br>
			<div class="fields">
				{{with $field := field "newJob.Contrat" .}}
				<div class="field">
					<label>Contrat</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" value="{{if and $.pageData.NewJob $.pageData.NewJob.Contrat}}{{$.pageData.NewJob.Contrat}}{{else}}{{$field.Flash}}{{end}}" name="{{$field.Name}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item contrat_item" data-value=1>CDI</div>
							<div class="item contrat_item" data-value=2>CDD</div>
							<div class="item contrat_item" data-value=3>Freelance</div>
							<div class="item contrat_item" data-value=4>Stage</div>
							<div class="item contrat_item" data-value=5>Interim</div>
							<div class="item contrat_item" data-value=6>Contrat Pro</div>
							<div class="item contrat_item" data-value=7>Apprentissage</div>
							<div class="item" data-value=0>Autre / Non spécifié</div>
						</div>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
				{{with $field := field "newJob.Worktime" .}}
				<div class="field">
					<label>Type d'emploi</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" value="{{if and $.pageData.NewJob $.pageData.NewJob.Worktime}}{{$.pageData.NewJob.Worktime}}{{else}}{{$field.Flash}}{{end}}" name="{{$field.Name}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item worktime_item" data-value=1>Temps plein</div>
							<div class="item worktime_item" data-value=2>Temps partiel</div>
							<div class="item" data-value=0>Autre / Non spécifié</div>
						</div>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
			</div>
			<br>
			<div class="fields">
				<!-- regions -->
				{{with $field := field "newJob.Regionals" .}}
				<div class="required field">
					<label>Régions</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" name="{{$field.Name}}" value="{{if and $.pageData.NewJob $.pageData.NewJob.Regionals}}{{$.pageData.NewJob.Regionals}}{{else if $field.Flash}}{{$field.Flash}}{{end}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item regional_item" data-value=1>Partout dans le monde</div>
							<div class="item regional_item" data-value=2>France uniquement</div>
							<div class="item regional_item" data-value=3>Europe uniquement</div>
							<div class="item" data-value=0>Autres (non spécifié)</div>
						</div>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
				{{with $field := field "newJob.FullRemote" .}}
				<div class="field">
					<div class="ui checkbox">
						<!-- tpl glitch -->
						{{if and $.pageData.NewJob $.pageData.NewJob.FullRemote}}
						<input checked type="checkbox" value=1 id="{{$field.ID}}" name="{{$field.Name}}">
						{{end}}
						{{if eq $field.Flash "1"}}
						<input checked type="checkbox" value=1 id="{{$field.ID}}" name="{{$field.Name}}">
						{{else}}
						<input type="checkbox" value=1 id="{{$field.ID}}" name="{{$field.Name}}">
						{{end}}
						<label>100% télétravail</label>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
			</div>
			<br>
			{{with $field := field "newJob.Description" .}}
			<div class="required field">
				<label>Description</label>
				<input id="{{$field.ID}}" required="required" type="hidden" name="{{$field.Name}}" value="{{if $.pageData.NewJob}}{{$.pageData.NewJob.Description}}{{else if $field.Flash}}{{$field.Flash}}{{else}}DEFAULT __ Ready and able to lead our UX/UI activities, and act as the senior stakeholder for this area; you may have been a lead already or you may be a senior UX/UI designer who wants to step-up into a lead role{{end}}">
				<trix-editor placeholder="" input="{{$field.ID}}" contenteditable="true" role="textbox">
				</trix-editor>
				{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
			</div>
			{{end}}
			<br>
			<div class="field">
				<label>#Tags (20 max.)</label>
				<div id="skill-search" class="ui search">
					<div class="ui right labeled left icon input">
						<i class="tags search icon"></i>
						<input id="skill-search-input" type="text" autocomplete="off" class="prompt" placeholder="Web, Marketing, C++ ...">
						<a id="skill-force-add-btn" nohref class="ui tag label">Add Tag</a>
					</div>
				</div>
				{{with $field := field "newJob.Tagstr" .}}
				<input type="text" value="{{$field.Flash}}" name="{{$field.Name}}" id="{{$field.ID}}" hidden>
				{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				{{end}}
				<br>
				<div id="job-tag-handler">
					<!-- start empty -->
				</div>
				<!-- TAGS -->
				{{if ne (len (index .flash "newJob.Tagstr")) 0}}
				<script>
					let tags = JSON.parse('{{ index .flash "newJob.Tagstr"}}')
					for (let i = 0; i < tags.length; i++) {
						addTag(tags[i].id, tags[i].label)
					}
				</script>
				{{else}}
				{{if $.pageData.NewJob}}
				{{range $.pageData.NewJob.Tags}}
				<script>
					addTag("{{.ID}}", "{{.Label}}")
				</script>
				{{end}}
				{{end}}
				{{end}}
			</div>
			<div class="fields">
				<!-- experience -->
				{{with $field := field "newJob.Experience" .}}
				<div class="required field">
					<label>Experience</label>
					<div class="ui selection dropdown">
						<input id="{{$field.ID}}" name="{{$field.Name}}" value="{{if and $.pageData.NewJob $.pageData.NewJob.Experience}}{{$.pageData.NewJob.Experience}}{{else if $field.Flash}}{{$field.Flash}}{{end}}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">&nbsp;</div>
						<div class="menu">
							<div class="item item_experience" data-value=1>Junior</div>
							<div class="item item_experience" data-value=2>Senior</div>
						</div>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
				<br>
				{{with $field := field "newJob.Salary" .}}
				<div class="field">
					<label>Salary</label>
					<div class="ui right labeled input">
						<input type="number" id="{{$field.ID}}" value="{{if $.pageData.NewJob}}{{if ne $.pageData.NewJob.Salary 0}}{{$.pageData.NewJob.Salary}}{{end}}{{else}}{{$field.Flash}}{{end}}" name="{{$field.Name}}" max="100000" step="1000">
						<div class="ui label">
							€/an
						</div>
					</div>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
				{{end}}
			</div>
			<br>
			{{with $field := field "newJob.URLMailApply" .}}
			<div class="fields" id="{{$field.ID}}_container">
				<div class="required field">
					<label>Mail ou lien pour postuler</label>
					<input type="text" name="{{$field.Name}}" id="{{$field.ID}}" value="{{if and $.pageData.NewJob $.pageData.NewJob.URLMailApply}}{{$.pageData.NewJob.URLMailApply}}{{else if $field.Flash}}{{$field.Flash}}{{else}}{{$.pageData.User.Email}}{{end}}">
					<span class="ui text small grey">Renseigner un lien vers le formulaire d'application ou un email de
						recrutement.</span>
					{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
				</div>
			</div>
			{{end}}
			{{with $field := field "newJob.Crfsc" .}}
			<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
			{{end}}
			{{if .errors}}
			<div class="ui error message">
				<div class="ui list">
					{{range .errors}}
					<div class="item">{{.}}</div>
					{{end}}
				</div>
			</div>
			{{end}}
			<br><br>
			<div class="full-width">
				<span onclick="openPreview();" class="ui huge icon button">Aperçu <i class="right arrow icon"></i></span>
				<button type="submit" class="ui huge right floated violet primary submit button">
					Ajouter votre offre d'emploi
					<i class="right arrow icon"></i>
				</button> 
				<div class="ui error message"></div>
			</div>
		</form>
	</div>
</div>
<br><br>
{{template "footer.html" .}}