{{set . "title" "Emploi Nomade: aperçu de votre annonce"}}
{{set . "page" "job-a42dd19g"}}
{{set . "user" .pageData.User}}

{{append . "moreScripts" "_job.js"}}
{{append . "moreStyles" "_jobs.css"}}
{{template "header.html" .}}

<div class="ui container accent-purple-border">
	<div class="ui divider hidden"></div>
	<div class="ui large inverted breadcrumb">
		<a href="/jobs" class="section accent-white ">Jobs</a>
		<i class="right chevron icon divider"></i>
		{{if .pageData.Job }}
		<div class="active section">{{.pageData.Job.Position}}</div>
		{{else}}
		<div class="d-invisible">jobpreview-g43kt22c-error</div>
		{{end}}
	</div>
	{{template "templates/messages.html" .}}
	{{if .pageData.Job }}
	<div class="ui divider hidden"></div>
	{{template "templates/job.html" .pageData.Job}}
	{{else}}
	<h1 class="ui header">
		Cet emploi n'existe pas, a été archivé ou pourvu.
	</h1>
	{{end}}
</div>
<div class="ui divider hidden"></div>

{{template "footer.html" .}}
