{{set . "title" "Emploi nomade | Votre reference d'emplois en télétravail"}}
{{set . "page" "jobs-a40dc07f"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_jobs.css"}}
{{append . "moreStyles" "_text-flip.css"}}
{{append . "moreScripts" "_skills.js"}}
{{append . "moreScripts" "_jobsFilter.js"}}
{{append . "moreScripts" "_text-flip.js"}}
{{template "header.html" .}}

<div class="ui hidden divider"></div>

<a id="jobs"></a>
<div id="filter-container" class="ui container inverted segment">
	<!-- filters -->
	{{template "templates/jobsFilters.html" .}}
</div>
<div class="ui container">
	<!-- newsletter modal -->
	<div id="mail-sub-modal" class="ui tiny modal">
		<i class="close icon"></i>
		<div class="header">
			Recevoir des emplois nomades similaires par mail
		</div>
		<div class="content">
			<form id="formvaltest" class="ui form" onsubmit="return false;">
				{{with $field := field "subnemail" .}}
				<div class="field">
					<label for="{{$field.ID}}">Mon adresse email</label>
					<input id="{{$field.ID}}" type="email" name="email" placeholder="Mon adresse email">
				</div>
				{{end}}
				{{with $field := field "subperiodicity" .}}
				<div class="field">
					<label for="{{$field.ID}}">Periodicité</label>
					<select id="{{$field.ID}}" name="periodicity" class="ui fluid dropdown">
						<option value=2>hebdomadaire</option>
						<option value=1>journaliere</option>
						<option value=3>mensuelle</option>
					</select>
				</div>
				{{end}}
				{{with $field := field "subterms" .}}
				<div class="field">
					<div class="ui checkbox">
						<input id="{{$field.ID}}" type="checkbox" tabindex="0" name="terms">
						<label for="{{$field.ID}}">I agree to the Terms and Conditions</label>
					</div>
				</div>
				{{end}}
		</div>
		<div class="actions">
			<div class="ui black deny button">
				Annuler
			</div>
			<button type="submit" class="ui positive right labeled icon button">
				M'abonner
				<i class="checkmark icon"></i>
			</button>
		</div>
		</form>
	</div>
	<!-- jobs list header -->
	<div class="ui hidden divider"></div>
	<div id="jobs-list-header" class="ui grid">
		<div class="eight wide column">
			{{if ne (len .pageData.Jobs) 0}}
			<h1 class="ui inverted header">{{.pageData.TotalItem}} job{{pluralize (.pageData.TotalItem) "" "s"}}</h1>
			{{end}}
		</div>
		<div class="four wide column">
			<!-- todo sort -->
		</div>
		<div class="four wide column">
			<div class="ui buttons fright">
				<!-- Mail Sub & get custom mail -->
				<div id="mail-sub" class="ui icon black inverted basic button" data-tooltip="Créer une alerte"
					data-position="bottom center">
					<i class="mail icon"></i>
				</div>
				<!-- RSS -->
				<a href="/jobs/feed/" class="ui icon black inverted basic button" id="rss-sub"
					data-tooltip="S'abonner au flux RSS" data-position="bottom center">
					<i class="rss icon"></i>
				</a>
				<script>
					$('#rss-sub').click(function () {
						window.open("jobs/feed/" + window.location.search.substring());
						return false;
					});
				</script>
				<!-- reset filters -->
				<a href="/jobs" class="ui icon black inverted basic button" data-tooltip="Supprimer les filtres"
					data-position="bottom center">
					<i class="x icon"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="ui divider hidden"></div>
	{{if eq (len .pageData.Jobs) 0}}
	{{template "templates/noMoreJobs.html"}}
	{{else}}
	<div class="jobs-container ui inverted items" id="jobs-container-actual-jobs" data-index=1>
		{{template "templates/jobPreviewItemRange.html" .pageData}}
	</div>
	<div id="loading" class="ui inverted segment"
		style="background-color: #35416d; border-radius: 9px !important;display:none;">
		<div class="ui active slow double big loader"></div>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<div id="job-page-end" style="{{ if lt ( len .pageData.Jobs ) 20 }} {{else}} display:none; {{end}}">
		{{template "templates/noMoreJobs.html"}}
	</div>
	{{end}}
</div>

<div data-exhaust="{{if lt (len .pageData.Jobs) 20 }}true{{else}}false{{end}}" id="exhaust-div"
	class="ui divider hidden"></div>

{{template "footer.html" .}}