{{set . "title" "Oops"}}
{{set . "page" "oops-8827e258"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="content">
	<br>
	<div class="main-wrapper">

		<a href="/">Return to index</a>

		<br><i class="icon icon-cross"></i><br>

		{{template "templates/messages.html" .}}
		<h4>{{.flash.error}}</h4>

	</div>
</div>

{{template "footer.html" .}}