{{set . "title" "Your candidate/company profile"}}
{{set . "page" "profile-9b67cd20"}}
{{set . "user" .pageData.User}}

{{append . "moreStyles" "_profile.css"}}
{{append . "moreScripts" "_profile.js"}}
{{append . "moreScripts" "_skills.js"}}

<!-- trix -->
{{append . "moreStyles" "../front-modules/trix/dist/trix.css"}}
{{append . "moreScripts" "../front-modules/trix/dist/trix.js"}}

{{template "header.html" .}}

<br><br>
<div class="main ui segment container" style="padding: 2em;">
	{{template "templates/messages.html" .}}
	<!-- company settings space page -->
	{{template "templates/companyProfile.html" .}}
</div>
<br><br>

{{template "footer.html" .}}