{{set . "title" "Réinitialisation du mot de passe"}}
{{set . "page" "resetpassword-md5c5dbb"}}
{{set . "errorcode" "resetpassword-error-md5c5dbb"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide centered column">
				{{template "templates/messages.html" .}}
				<form class="ui form attached fluid segment" action="/postresetpassword" method="POST">
					<h1 class="ui header center-text">
						Mot de passe oublié
						<div class="sub header">Demander un lien de réinitialisation</div>
					</h1>
					<div class="ui divider hidden"></div>
					{{with $field := field "resetPassword.Email" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="email" value="{{$field.Flash}}" placeholder="nom@domaine.com" autofocus=""
								required="">
							{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
						</div>
					</div>
					{{end}}
					{{with $field := field "user.Crfsc" .}}
					<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
					{{end}}
					<button class="ui fluid large submit teal button">Continuer</button>
					<br>
					<div class="ui bottom attached message center-text">
						Pas de compte ?&nbsp;&nbsp;<a href="/subscribe#sub">Inscrivez-vous dès maintenant !</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
