{{set . "title" "Réinitialisation du mot de passe"}}
{{set . "page" "resetingpassword-md5c5daa"}}
{{set . "errorcode" "resetingpassword-error-md5c5daa"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide centered column">
				{{template "templates/messages.html" .}}
				<form class="ui form attached fluid segment" action="/postresetingpassword" method="POST">
					<h1 class="ui header center-text">
						Mot de passe oublié
						<div class="sub header">Renseigner votre nouveau mot de passe.</div>
					</h1>
					<div class="ui divider hidden"></div>
					{{with $field := field "resetingPassword.Password" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="password" value="" placeholder="" autofocus=""
								required="">
							{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
						</div>
					</div>
					{{end}}
					{{with $field := field "resetingPassword.PasswordConfirm" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="password" value="" placeholder="" autofocus=""
								required="">
							{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
						</div>
					</div>
					{{end}}
					{{with $field := field "resetingPassword.ID" .}}
					<input type="hidden" value={{$.pageData.PasswordRequestUUID}} id="{{$field.ID}}" name="{{$field.Name}}">
					{{end}}					
					{{with $field := field "user.Crfsc" .}}
					<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
					{{end}}
					<button class="ui fluid large submit teal button">Continuer</button>
					<br>
				</form>
			</div>
		</div>
	</div>
</div>

