{{set . "title" "Account settings"}}
{{set . "page" "settings-74ffdca7"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<br><br>
<div class="main ui segment container" style="padding: 2em;">
	{{template "templates/messages.html" .}}
	<h1 class="ui header text-accent-header aligned center capitalize-all">
		Préférences
	</h1>
	<br>
	<form class="ui form" action="/postsettingpassword" method="POST">
		{{with $field := field "webUserPasswordSetting.Password" .}}
		<div class="required field {{if $field.Error}}error{{end}}">
			<label>Mot de passe acutel</label>
			<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="password" value="{{$field.Flash}}" required="">
			{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
		</div>
		{{end}}
		{{with $field := field "webUserPasswordSetting.NewPassword" .}}
		<div class="required field {{if $field.Error}}error{{end}}">
			<label>Nouveau mot de passe</label>
			<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="password" value="{{$field.Flash}}" required="">
			{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
		</div>
		{{end}}
		{{with $field := field "webUserPasswordSetting.NewPasswordConfirmation" .}}
		<div class="required field {{if $field.Error}}error{{end}}">
			<label>Confirmation</label>
			<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="password" value="{{$field.Flash}}" required="">
			{{if $field.Error}}<span class=" ui red text">{{$field.Error}}</span>{{end}}
		</div>
		{{end}}
		{{with $field := field "webUserPasswordSetting.Crfsc" .}}
		<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
		{{end}}
		<button class="ui large right floated violet primary submit button" type="submit">Mettre à jour le mot de passe <i class="right arrow icon"></i></button>
	</form>

	<div class="ui hidden divider"></div>
	<br>

	<form class="ui form" action="/postsettingemail" method="POST">
		{{with $field := field "webUserEmailSetting.Email" .}}
		<div class="field">
			<label>Courriel</label>
			<input type="email" class="ui input" id="{{$field.ID}}" name="{{$field.Name}}" required="" placeholder="{{$.user.Email}}">
		</div>
		{{end}}
		{{with $field := field "webUserEmailSetting.Crfsc" .}}
		<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
		{{end}}
		<button class="ui large right floated violet primary submit button" type="submit">Mettre a jour l'adresse mail <i class="right arrow icon"></i></button>
	</form>

	<br><br><br><br>
	<div class="ui divider"></div>
	<br>

	<div class="full-width" style="display: inline-block">
		<!-- todo -->
		<a href="mailto:contact@rxsoft.eu?Subject=Retrieve%20data&Body=I%20would%20like%20to%20retrieve%20all%20my%20data" class="ui left floated button">
			Envoyer une requête pour recevoir toutes mes données
		</a>
		<form class="ui form" action="/postdeleteaccount" method="POST">
			{{with $field := field "deleteAccount.Crfsc" .}}
			<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
			{{end}}
			<button class="ui right floated button red">Supprimer mon compte</button>
		</form>
	</div>

</div>
<br><br>
{{template "footer.html" .}}