{{set . "title" "Subscribe"}}
{{set . "page" "subscribe-fce9eacd"}}
{{set . "errorcode" "subscribe-error-fce9eacd"}}

{{set . "user" .pageData.User}}
{{append . "moreStyles" "_recruit.css"}}
{{template "header.html" .}}

<div class="wave dark-blue">
	<div>
		<svg preserveAspectRatio="xMidYMax meet" class="svg-separator sep" viewBox="0 0 1600 100" data-height="100">
			<path class="" style="opacity: 1;fill: #041133;"
				d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z">
			</path>
			<path class="" style="opacity: 1;fill: #0e1f50;"
				d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z">
			</path>
			<path class="" style="fill: #FAFAFA;"
				d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z">
			</path>
		</svg>
	</div>
</div>
<div class="geometry-light ui vertical stripe segment shadow-box">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide centered column">
				{{template "templates/messages.html" .}}
				<form class="ui form attached fluid segment" action="/handlelogin" method="POST">
					<h1 class="ui header center-text">
						Se connecter
						<div class="sub header">Entrez vos identifiants</div>
					</h1>
					<div class="ui divider hidden"></div>
					{{with $field := field "user.Email" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="email" value="{{$field.Flash}}" placeholder="nom@domaine.com" autofocus=""
								required="">
							{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
						</div>
					</div>
					{{end}}
					{{with $field := field "user.Password" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="password" value="" placeholder="********" required="">
							{{if $field.Error}}<span class="ui red text">{{$field.Error}}</span>{{end}}
						</div>
					</div>
					{{end}}
					{{with $field := field "user.Crfsc" .}}
					<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
					{{end}}
					<button class="ui fluid large submit teal button">Continuer</button>
					<br>
					<div class="ui bottom attached message center-text">
						<a href="/reset-password">Mot de passe oublié ?</a>&nbsp;&nbsp;
						Pas de compte ?&nbsp;&nbsp;<a href="#sub">Inscrivez-vous dès maintenant !</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<a id="sub"></a>
				<h3 class="ui header">
					Vos annonces de jobs en télétravail, <i>simplement</i>
				</h3>
				<br>
				<div class="ui cards">
					<div class="card">
						<div class="content">
							<div class="header"><i class="lock icon"></i>&nbsp;+ Securisé</div>
							<div class="meta">Friend</div>
							<div class="description">
								Elliot Fu is a film-maker from New York.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="content">
							<div class="header"><i class="tachometer alternate icon"></i>&nbsp;+ Rapide</div>
							<div class="meta">Friend</div>
							<div class="description">
								Veronika Ossi is a set designer living in New York who enjoys kittens, music, and
								partying.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="content">
							<div class="header"><i class="tree icon"></i>&nbsp;+ Vert</div>
							<div class="meta">Friend</div>
							<div class="description">
								Jenny is a student studying Media Management at the New School
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<form class="ui form attached fluid segment form-max-width" action="/handlecreateaccount" method="POST">
					<h1 class="ui header center-text">
						S'inscrire<br>
						<div class="sub header">Bienvenue sur Emploi Nomade</div>
					</h1>
					<div class="ui divider hidden"></div>
					{{with $field := field "subscription.Email" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<label>Email</label>
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input class="{{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}" type="email"
								value="{{$field.Flash}}" placeholder="nom@domaine.com" required="">
						</div>
					</div>
					{{end}}
					{{with $field := field "subscription.Password" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<label>Mot de passe</label>
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="password" value="{{$field.Flash}}" placeholder="******" required="">
						</div>
					</div>
					{{end}}
					{{with $field := field "subscription.PasswordConfirm" .}}
					<div class="required field {{if $field.Error}}error{{end}}">
						<label>Mot de passe (vérification)</label>
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input class="form-input {{$field.ErrorClass}}" id="{{$field.ID}}" name="{{$field.Name}}"
								type="password" value="{{$field.Flash}}" placeholder="******" required="">
						</div>
					</div>
					{{end}}
					{{with $field := field "subscription.Crfsc" .}}
					<input type="hidden" name="{{$field.Name}}" value="{{$.crfsc}}" required="">
					{{end}}
					<div class="ui visible basic mini message center-text">
						<p>En cliquant sur continuer, vous acceptez les <a href="/about">conditions
								d'utilisation</a> ainsi
							que la <a href="/about">politique de confidentialité</a> du site Emploi Nomade.</p>
					</div>
					<button class="ui fluid large submit teal button">Continuer</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment geometry-light shadow-box">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<img src="/public/img/sub/tech_01.jpg" class="ui massive rounded image" style="border-radius: 20px; border: 2px solid #eaeaea;">
			</div>
			<div class="six wide right floated column">
				<h3 class="ui header">
					Vos annonces de jobs en télétravail, <i class="thumbs up outline small icon"></i>
				</h3>
				<div class="ui divider hidden"></div>
				<p>Gratuitement et en toute transparence ❤️</p>
				<p>Annulez, archivez, ou relancez votre annonce quand vous le souhaitez !</p>
				<p>Recruter en toute confiance sur tout le territoire, et partout dans le monde !</p>
				<div class="ui divider hidden"></div>
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<h3 class="ui header">Votre recrutement, simplifié <i class="thumbs up outline small icon"></i>
				</h3>
				<div class="ui divider hidden"></div>
				<p>Simple d'utilisation, déposez un emploi en quelques secondes</p>
				<p>Suivez la visibilité de votre emploi à chaque instant</p>
				<p>Annulez, archivez, ou relancez votre annonce quand vous le souhaitez !</p>
				<div class="ui divider hidden"></div>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/sub/tech_05.jpg" class="ui massive rounded image" style="border-radius: 20px;">
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment geometry-light shadow-box">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="six wide left floated column">
				<img src="/public/img/sub/tech_02.jpg" class="ui massive rounded image"
					style="border-radius: 20px;border: 2px solid #eaeaea;">
			</div>
			<div class="eight wide floated column">
				<h3 class="ui header">Vos coordonées sont securisées et vous appartiennent</h3>
				<div class="ui divider hidden"></div>
				<p>Nos serveurs sécurisés sont situés en France <i class="france flag"></i>et respectent les
					normes réglementaires de cyber-sécurité.</p>
				<p>Nous ne vendons ni ne redistribuons vos données à qui que ce soit, ce n'est pas dans nos
					principes. Vous restez maître de vos informations, à chaque instants.</p>
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="six wide left floated column">
				<h3 class="ui header">Elargisser votre réseau</h3>
				<p>Recruter internationalement des talents francophones <i class="france flag"></i></p>
				<p>Publier votre annonce d'emploi dès aujourd'hui et soyez vu par des freelances, digital
					nomades,
					coworkeurs et télétravailleurs du monde entier.</p>
					<p>Votre emploi en ligne en 5 minutes !</p>
					<button class="huge ui icon button">
						Publier mon annonce&nbsp;&nbsp;<i class="icon arrow right"></i>
					</button>
				</div>
				<div class="eight wide floated column">
				<img src="/public/img/sub/tech_04.jpg" class="ui massive rounded image">
			</div>
		</div>
	</div>
</div>

<div class="ui vertical stripe segment geometry-light shadow-box">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide floated column">
				<h3 class="ui header">Il nous font confiance&nbsp;&nbsp;<i class="icon heart small red"></i>
				</h3>
				<div class="ui divider hidden"></div>
				<div class="ui middle very relaxed aligned divided list">
					{{range $index, $company := .pageData.TopCompanies}}
					<div class="item">
						<div class="middle aligned right floated content">
							<a href="/jobs?c={{$company.PublicID}}" class="ui right tertiary button">
								Voir les emplois
							</a>
						</div>
						<div class="bottom aligned left floated content">
							<i
								class="medal {{if eq $index 0}}yellow {{else if eq $index 1}}grey {{else if eq $index 2}}orange {{end}} large	icon"></i>
						</div>
						<img class="ui avatar image" src="/public/img/avatars/{{$company.Webuser.Avatar}}">
						<div class="middle aligned content">
							<h4 class="ui header capitalize-all">
								{{$company.Name}}
							</h4>
						</div>
					</div>
					{{end}}
				</div>
				<div class="ui divider hidden"></div>
				<a href="/company" class="large blue ui right floated button">
					Top recruteurs
					<i class="icon right arrow"></i>
				</a>
			</div>
			<div class="six wide right floated column">
				<img src="/public/img/sub/tech_03.jpg" class="ui massive rounded image" style="border-radius: 20px;border: 2px solid #eaeaea;">
			</div>
		</div>
	</div>
</div>



<div class="ui vertical stripe inverted blue segment">
	<div class="ui middle aligned stackable grid container">
		<div class="row">
			<div class="eight wide column">
				<p> Emploi Nomade s'amiliore constamment. Nous travaillions sur un algorithme d'association
					job-candidats <b>novateur</b>
					afin de toujours plus vous faciliter le télétravail.</p>
				<p><b>Notre but</b>, constamment trouver des moyens privilégiant le télétravail, quand c'est
					possible
					pour
					un meilleur avenir, plus <b>vert</b>, plus <b>sécurisant</b> et <b>innovant</b>.</p>
			</div>
			<div class="six wide right floated column">
				<a href="#sub" class="large basic ui inverted button">
					Rejoignez la communité digital nomade
				</a>
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}