{{set . "title" "Success"}}
{{set . "page" "success-2c8c13e1"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="ui container ">
	<div class="ui vertical stripe segment container ">

		{{if .flash.success}}
		<h2>Succès</h2>
		<div class="toast toast-success">
			<button class="btn btn-clear float-right"></button>
			<p>{{.flash.success}}</p>
		</div>
		{{end}}
		{{if .flash.error}}
		<h2>Une erreur est survenue.</h2>
		<div class="toast toast-error">
			<button class="btn btn-clear float-right"></button>
			<p>{{.flash.error}}</p>
		</div>
		{{end}}

		<a href="/">Return to index</a>

	</div>
</div>

{{template "footer.html" .}}