{{set . "title" "Mes applications"}}
{{set . "page" "applications"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="content">
	<br>
	<div class="main-wrapper">

		<h2>Mes applications</h2>



		{{len .pageData.CandidateApplication}} application{{pluralize (len .pageData.CandidateApplication) "" "s"}}

		{{range $index, $jobs :=  .pageData.CandidateApplication}}
		<div class="tile ">
			<div class="tile-icon">
				<figure class="avatar avatar-lg"><img src="/public/img/avatars/{{.CompanyAvatar}}" alt="Avatar">
				</figure>
			</div>
			<div class="tile-content">
				<a href="/job/{{.JobPublicKey}}">
					<h5 class="tile-title">
						<span class="bold">{{.AppliStatusLabel}} - </span>{{.JobPosition}} - Le {{.AppliStatusUpdateDate}}</p>
				</a>
				<p class="tile-subtitle">{{.CompanyName}}</p>
				<p class="tile-content">
					{{textPreview .JobDescription 149}}
				</p>
				<p class="tile-content">
					{{.AppliMessage}}
				</p>
				<p class="tile-content">
					<h4>messages</h4>
					{{.CandidateMessages}}
					<br>
					{{.CompanyMessages}}
				</p>
			</div>
			<div class="tile-action">
				<button class="btn btn-primary">Messages</button>
			</div>
		</div>

		{{end}}

		<!-- 	<h5>{{.JobPublicKey}}</h5>
			<h5>{{.JobPosition}}</h5>
			<h5>{{.JobDescription}}</h5>
			<h5>du {{.JobValidatedDate}}</h5>
			     <h5>au {{.JobExpireDate}}</h5> 
			<h5>{{.JobFeatured}}</h5>
			<h5>{{.AppliStatus}}</h5>
			<h5>{{.AppliStatusUpdateDate}}</h5>
			<h5>{{.AppliMessage}}</h5>
			<h5>{{.CompanyID}}</h5>
			<h5>{{.CompanyName}}</h5>
			<h5>{{.CompanyAvatar}}</h5>-->

	</div>
</div>

{{template "footer.html" .}}