{{set . "title" "Your jobs"}}
{{set . "page" "spacejobs"}}
{{set . "user" .pageData.User}}

{{template "header.html" .}}

<div class="ui container ">
	<div class="ui vertical stripe segment container ">

		<h2>Your jobs</h2>

		<div class="ui items">
			{{range $index, $jobs :=  .pageData.Jobs}}


			<div class="item">
				<div class="content">
					<a class="header">{{.Position}}</a>
					<div class="meta">
						<span>{{.Description}}</span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						<!-- <table border="1">
							<tr>
								<th>WorkRegularity </th>
								<th>Salary </th>
								<th>Since </th>
								<th>Featured </th>
								<th>Skill </th>
								<th>Experience </th>
								<th>More </th>
							</tr>
							<tr>
								<td>{{.WorkRegularity}}</td>
								<td>{{.Salary}}</td>
								<td>{{.Since}}</td>
								<td>{{.Featured}}</td>
								<td>{{.Tags}}</td>
								<td>{{.Experience}}</td>
								<td><a href="/job/{{.PublicID}}">{{.PublicID}}</a></td>
							</tr>
						</table> -->
						<p>{{.ViewCount}} vues </p>

						{{ if eq .Applications nil }}
						<h6>No Candidatures results found</h6>
						{{else}}
						<h6>{{len .Applications}}Candidatures</h6>
						<div class="ui comments">
							{{range $index, $jobs :=  .Applications}}
							<div class="comment">
								<a class="avatar">
									<img src="/images/avatar/small/joe.jpg">
								</a>
								<div class="content">
									{{ if .IsAccountless }}<a nohref class="author">{{ .AccountlessNom }} {{ .AccountlessPrenom }}</a>
									{{else}}
									<a href="/user/{{.CandidateWebuser.ID}}" class="author">{{.Candidate.Nom}}
										{{.Candidate.Prenom}}</a>{{end}}
									<div class="text">
										{{.Message}}
									</div>
									<div class="actions">
										<a class="reply">Reply</a>
										<a class="save">Candidature du {{.LastUpdateDate}}</a>
										{{ if .IsAccountless }} <a href="mailto:{{ .AccountlessEmail }}">Contact</a><br>
										{{else}} <a href="mailto:{{.Candidate.Mail}}">Contact</a><br>{{end}}
										<a nohref>
											<i class="expand icon"></i>
											{{ if .IsAccountless }} <a href="{{.AccountlessCV}}">Telecharger le CV</a><br>
											{{else}}<a href="/user/{{.CandidateWebuser.ID}}">see profile</a>{{end}}
										</a>
									</div>
								</div>
							</div>
							{{end}}
						</div>
						{{end}}
					</div>
				</div>
			</div>
			{{end}}
		</div>
		<hr>
	</div>
</div>


{{template "footer.html" .}}


<!-- <div>
				<h5>{{.Position}}</h5>
				<p>{{.Description}}<br>
					NumView {{.ViewCount}}</p>
				<table border="1">
					<tr>
						<th>WorkRegularity </th>
						<th>Salary </th>
						<th>Since </th>
						<th>Featured </th>
						<th>Skill </th>
						<th>Experience </th>
						<th>More </th>
					</tr>
					<tr>
						<td>{{.WorkRegularity}}</td>
						<td>{{.Salary}}</td>
						<td>{{.Since}}</td>
						<td>{{.Featured}}</td>
						<td>{{.Tags}}</td>
						<td>{{.Experience}}</td>
						<td><a href="/job/{{.PublicID}}">{{.PublicID}}</a></td>
					</tr>
				</table>
		{{ if ne .Applications nil }}
				<h6>No Candidatures results found</h6>
				{{else}}
		
				{{range $index, $jobs :=  .Applications}}
				<hr>
				<h6>Candidature du {{.LastUpdateDate}}</h6>

				{{ if .IsAccountless }}

				<h6> accountless apply </h6>
				{{ .AccountlessNom }} {{ .AccountlessPrenom }} </br>
				<a href="{{.AccountlessCV}}">Telecharger le CV</a><br>
				<a href="mailto:{{ .AccountlessEmail }}">Contact</a><br>
				{{ else }}

				{{.Candidate.Nom}} {{.Candidate.Prenom}}<br>
				<a href="/user/{{.CandidateWebuser.ID}}">see profile</a>
				<a href="{{.Candidate.CvPath}}">Telecharger le CV</a><br>
				<a href="mailto:{{.Candidate.Mail}}">Contact</a><br>
				{{ end }}
				<h6>Lettre de motivation</h6>
				<p>{{.Message}}</p><br>
				{{end}}
				{{ end }}
			</div>
			<br> -->