<footer class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="four wide column">
				<a href="/" class="ui inverted header">Emploi Nomade</a>
				<div class="ui inverted link list">
					<a href="/recruter" class="item">Recrutement</a>
					<a href="/subscribe" class="item">Créer un compte</a>
					<a href="/login" class="item">Se connecter</a>
					<pre class="item">© 2020 Vanilla Labs</pre>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">&nbsp;</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Blog</a>
					<a href="#" class="item">Partners</a>
					<a href="/about#contact" class="item">Nous contacter</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">&nbsp;</h4>
				<div class="ui inverted link list">
					<a href="/about" class="item">À propos de nous</a>
					<a href="/about#tos" class="item">Terms of Use</a>
					<a href="/about#payement" class="item">Payments</a>
				</div>
			</div>
			<div class="four wide  column">
				<h6 class="ui inverted header">&nbsp;</h6>
				<div class="ui inverted link list">
					<a href="#" class="item">Service Status</a>
					<a href="#" class="item">API Reference</a>
					<a href="#" class="item">Statistics</a>
					<a href="#" class="item">Page weigh</a>
					<pre class="item">BUILD PROD 0.159 20200305</pre>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- pusher </div> -->


{{if eq .RunMode "dev"}}
{{template "debug.html" .}}
{{end}}

</body>

</html>