<!DOCTYPE html>

<html>

<head>
	<title>{{.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/public/front-modules/fomantic/semantic.css">
	<link rel="stylesheet" href="/public/css/_semantic.index.css">
	<link rel="stylesheet" href="/public/css/_common.css">
	{{range .moreStyles}}
	<link rel="stylesheet" type="text/css" href="/public/css/{{.}}">
	{{end}}

	<script src="/public/js/jquery.js"></script>
	<script src="/public/front-modules/fomantic/semantic.js"></script>
	<script src="/public/js/_tools.js"></script>
	<script src="/public/js/_common.js"></script>
	{{range .moreScripts}}
	<script src="/public/js/{{.}}" type="text/javascript" charset="utf-8"></script>
	{{end}}
</head>

<div class="d-invisible">{{.page}}</div>

<body>
	<!-- Desktop Menu -->
	<div class='{{if pageContain .page "subscribe-fce9eacd"}} {{else}} icons-background{{end}}'>
		<div class='ui vertical	{{if pageContain .page "subscribe-fce9eacd"}} bg-rain {{end}}'>
			<div class="ui container">


				<div class='ui large secondary pointing menu'>

					<div class="ui floating inverted large dropdown button" style="margin: 20px 0 auto 0;">
						<div class="text"><i class="moon icon"></i> Emploi Nomade</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="/" data-bcup-haslogintext="no"><i class="moon icon"></i> Emploi
								Nomade</a>
							<a class="item" href="/emploilocal" data-bcup-haslogintext="no"><i class="sun icon"></i>
								Emploi Local</a>
						</div>
					</div>

					<!-- <div class="ui inverted segment">
						<div class="ui inverted selection dropdown"
							onChange="window.location.href=$('#menu_site_selection div').attr('value')">
							<input type="hidden" name="choices">
							<div class="default text">Select choice</div>
							<i class="dropdown icon"></i>
							<div id="menu_site_selection" class="menu">
								<div id="first_child" value="/moon" class="item">moonc</div>
								<div id="second_child" value="/sun" class="item">sun c</div>
							</div>
						</div>
					</div>




					<div class="ui bold basic dropdown item">

						<div class="ui inline selection dropdown" onChange="window.location.href=this.value">
							<a href="/" class="text ui main-logo header text-light-header">
								<i class="moon icon"></i>
								Emploi Nomade
							</a>
							<i class="dropdown icon" style="color:white"></i>
							<div class="menu">
								<a href="/" class="item">
									<i class="moon icon"></i>
									Emploi Nomade
								</a>
								<a href="#" class="item">
									<i class="sun icon"></i>
									Emploi Local
								</a>
							</div>
						</div>

					</div> -->

					<!-- main menu -->

					<!-- <a class='toc item'>
						<i class="sidebar icon"></i>
					</a> -->



					<!-- <div class="ui bold basic dropdown item" style="color: white;">
						<a href="/" class="ui main-logo header text-light-header ">
							<i class="clockwise rotated plug icon"></i>
							Emploi Nomade
						</a>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">Emploi Local</div>
						</div>
					</div> -->


					<!-- <a href="/" class="ui main-logo header text-light-header ">
						<i class="clockwise rotated plug icon"></i>
						Emploi Nomade
					</a>
					<div class=" item">
						<a href="#"
							class='ui btn-list-lmargin inverted teal button {{if eq .page "subscribe-fce9eacd"}} active {{end}}'>
							Emploi Local
						</a>
					</div> -->
					{{if eq .user.Connected true}}
					<div class="right menu">
						<div class="ui bold basic dropdown item" style="color: white;">
							<img class="ui avatar image avatar-border" src="/public/img/avatars/{{.user.Avatar}}" />
							&nbsp;&nbsp;{{.user.Email}}
							<i class="dropdown icon"></i>
							<div class="menu">
								<a class="item" href="/space/">Tableau de bord</a>
								<a class="item" href="/space/profile">Profile</a>
								<a class="item" href="/space/settings">Settings</a>
								<a class="item" href="/handlelogout">Logout</a>
							</div>
						</div>
					</div>
					{{else}}
					<div class="right item list">

						<div class="ui vertical animated inverted teal button" tabindex="0">
							<div class="hidden content">Rejoindre le réseau&nbsp;&nbsp;<i class="right arrow icon"></i>
							</div>
							<div class="visible content">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vous recrutez ?&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
						</div>

						<!-- <a href="/subscribe"
							class='ui btn-list-lmargin inverted teal button {{if eq .page "subscribe-fce9eacd"}} active {{end}}'>
							Rejoindre le réseau
						</a> -->
					</div>
					{{end}}
				</div>
				<!-- heros -->
				{{if eq .page "subscribe-fce9eacd"}}
				<br><br><br>
				<div class="ui center-text inverted segment" style="background-color: rgba(0, 0, 0, 0);">
					<h1 class="ui header" id="waving-title" style="font-size:2.5rem;">
						Adaptons notre recrutement à l'évolution du monde&nbsp;&nbsp;<i
							class="cloud sun small icon"></i>
					</h1>
				</div>
				<br><br><br><br><br><br><br><br>
				{{end}}
			</div>


		</div>
		<!-- Page Contents -->